#discoverCover{
    background-image: url('/images/chicago.jpg');
    min-height: 75%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 75vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

#merchantImage {
    min-height: 400px;
    max-height: 400px;
    overflow-y: scroll;
}

#merchantPanel {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#merchantImage:hover {
    outline: 1px solid gray;
}


#merchantTextHover a:hover {
  color:inherit;
}

#merchantTextDescriptionHover a:hover {
  color: rgba(150, 150, 150, 1);
  text-decoration: none;
}



