<!DOCTYPE html>
<html>
  <head>
    <title>Hyku Activated to Organizer</title>
    <link rel='stylesheet' href='/stylesheets/emails/partnerRegistered.css'>
  </head>
<body>

<br />
<br />
<br />
<br />

<div class="email-background">

  <div class="email-container">

    <h3 class="logoHeader">
      Hyku
    </h3>

    <hr class="emailHR">
    </hr>

    <h2 class="nameHeader">
      Hi "OrganizerName",
    </h2>

    <p class="emailBodyCenter">Your hyku is officially activated!</p>

    <p class="emailBodyCenter">
    <i>
    "ProductName"
    <br /> <span class="textColorBlue">@</span> "BusinessName"
    <br /> <span class="textColorBlue">on</span> "EventDate", "EventTime"
    </i>
    </p>

    <div class="emailButtonContainer">
      <a href="http://www.hyku.io/activate/" class="emailButton">
        View Hyku
      </a>
    </div>

    <p class="emailBodyCenter"><b>Share</b> the link and get things rolling.</p>

    <p class="emailDetailBody">Your GO threshold is “GOminimum”. If you don’t get “GOminimum” friends to join by “ExpirationDate” then the hyku will be voided and no charges will be made.</p>

  </div>

  <div class="footer-email">
    <p class="">
      <a class="socialMediaFooter" href=""><i class="fa fa-facebook-official"></i></a>
      <a class="socialMediaFooter" href="https://twitter.com/hykuHQ"><i class="fa fa-twitter-square"></i></a>
    </p>
    <a href="" class="unsubscribe">Unsubscribe</a>
  </div>


</div>

</body>

</html>
