<!DOCTYPE html>
<html>
  <head>
    <title>Business Registered Email</title>
    <link rel='stylesheet' href='/stylesheets/emails/businessRegistered.css'>
  </head>
<body>

<br />
<br />
<br />
<br />

<div class="email-background">

  <div class="email-container">

    <h3 class="logoHeader">
      Hyku
    </h3>

    <hr>
    </hr>

    <h2 class="nameHeader">
      Hi "BusinessName",
    </h2>

    <p class="emailBody">Thank you for joining Hyku!</p>

    <p class="emailBody">We are excited to be your partner in managing your customers’ group experiences.</p>

    <div class="emailButtonContainer">

      <a href="http://www.hyku.io/login" class="emailButton">
        View Your Dashboard
      </a>
    </div>

    <p class="emailBody">With hyku, you will be able to create new offer templates, manage existing customer groups, pull analytics, and much more.</p>

    <p class="emailBody">Please let us know if you have any questions!</p>

    <p class="emailBody">Cheers,<br />The Hyku Team</p>

  </div>

  <div class="footer-email">
    <a href="" class="unsubscribe">Unsubscribe</a>
  </div>


</div>

</body>

</html>
