<!DOCTYPE html>
<html>
  <head>
    <title>Business Registered Email</title>
    <link rel='stylesheet' href='/stylesheets/emails/businessRegistered.css'>
  </head>
<body>

<br />
<br />
<br />
<br />

<div class="email-background">

  <div class="email-container">

    <h3 class="logoHeader">
      Hyku
    </h3>

    <hr class="emailHR">
    </hr>

    <h2 class="nameHeader">
      Hi "PartnerName",
    </h2>

    <p class="emailBody">Thank you for joining Hyku!</p>

    <p class="emailBody">We are excited to be your partner in managing your customers’ group experiences.</p>

    <div class="emailButtonContainer">
      <a href="http://www.hyku.io/login" class="emailButton">
        View Your Dashboard
      </a>
    </div>

    <p class="emailBody">Login to your dashboard and get started:</p>
      <UL class="ulEmail">
        <li class="create"> Create a group offer template</li>
        <li class="monitor"> Monitor pending customer group sales</li>
        <li class="dollar"> Disburse payments to your bank account</li>
      </UL>


    <p class="emailBody">Please let us know if you have any questions!</p>

    <p class="emailBody">Cheers,<br />The Hyku Team</p>

  </div>

  <div class="footer-email">
    <p class="">
      <a class="socialMediaFooter" href=""><i class="fa fa-facebook-official"></i></a>
      <a class="socialMediaFooter" href="https://twitter.com/hykuHQ"><i class="fa fa-twitter-square"></i></a>
    </p>
    <a href="" class="unsubscribe">Unsubscribe</a>
  </div>


</div>

</body>

</html>
