<!DOCTYPE html>
<html>
  <head>
    <title>CC Not Working To Joiner</title>
    <link rel='stylesheet' href='/stylesheets/emails/partnerRegistered.css'>
  </head>
<body>

<br />
<br />
<br />
<br />

<div class="email-background">

  <div class="email-container">

    <h3 class="logoHeader">
      Hyku
    </h3>

    <hr class="emailHR">
    </hr>

    <h2 class="nameHeader">
      Hi "JoinerName",
    </h2>

    <p class="emailBody">Your credit card did not go through. Please use the link below to use another form of payment.</p>

    <div class="emailButtonContainer">
      <a href="http://www.hyku.io/activate/" class="emailButton">
        Enter New Form of Payment
      </a>
    </div>

    <h3 class="logoHeader">
      Errored: Payment for Hyku
    </h3>

    <hr class="emailHR">
    </hr>

    <table class="table emailTable table-striped">
      <tr>
        <td class="emailTableTitle">Description</td>
        <td class="emailTableDetails">"ProductName"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Price</td>
        <td class="emailTableDetails">"CurrentPrice"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Quantity</td>
        <td class="emailTableDetails">"JoinerQuantity"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Total Payment</td>
        <td class="emailTableDetails">"AmountChargedToJoiner"</td>
      </tr>
    </table>

    <br />

    <h3 class="logoHeader">
      Group Contact
    </h3>

    <hr class="emailHR">
    </hr>

    <table class="emailTable">
      <tr>
        <td class="emailTableTitle">Name</td>
        <td class="emailTableDetails">"OrganizerName"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Email</td>
        <td class="emailTableDetails">"OrganizerEmail"</td>
      </tr>
    </table>

    <br />

    <h3 class="logoHeader">
      Event Details
    </h3>

    <hr class="emailHR">
    </hr>

    <table class="emailTable">
      <tr>
        <td class="emailTableTitle">Purchased</td>
        <td class="emailTableDetails">"ProductName"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Location</td>
        <td class="emailTableDetails">"PartnerName"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Address</td>
        <td class="emailTableDetails">"PartnerAddress"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Event Date</td>
        <td class="emailTableDetails">"EventDate"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Event Time</td>
        <td class="emailTableDetails">"EventTime"</td>
      </tr>
      <tr>
        <td class="emailTableTitle"># in Group</td>
        <td class="emailTableDetails">"CurrentNumberOfJoiners"</td>
      </tr>
    </table>

    <br />

    <div class="emailButtonContainer">
      <a href="http://www.hyku.io/activate/" class="emailButton">
        View Hyku
      </a>
    </div>

    <br />



  </div>

  <div class="footer-email">
    <p class="">
      <a class="socialMediaFooter" href=""><i class="fa fa-facebook-official"></i></a>
      <a class="socialMediaFooter" href="https://twitter.com/hykuHQ"><i class="fa fa-twitter-square"></i></a>
    </p>
    <a href="" class="unsubscribe">Unsubscribe</a>
  </div>


</div>

</body>

</html>
