<!DOCTYPE html>
<html>
  <head>
    <title>Hyku GO to Joiner</title>
    <link rel='stylesheet' href='/stylesheets/emails/partnerRegistered.css'>
  </head>
<body>

<br />
<br />
<br />
<br />

<div class="email-background">

  <div class="email-container">

    <h3 class="logoHeader">
      Hyku
    </h3>

    <hr class="emailHR">
    </hr>

    <h2 class="nameHeader">
      Hi "JoinerName",
    </h2>

    <p class="emailBody">Mark your calendars - "OrganizerName"'s hyku is a GO!</p>

    <table class="emailTable">
      <tr>
        <td class="emailTableTitle">Description</td>
        <td class="emailTableDetails">"ProductName"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Location</td>
        <td class="emailTableDetails">"PartnerAddress"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Event Date</td>
        <td class="emailTableDetails">"EventDate"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Event Time</td>
        <td class="emailTableDetails">"EventTime"</td>
      </tr>
    </table>

    <p class="emailBody"></p>





    <div class="emailButtonContainer">
      <a href="http://www.hyku.io/activate/" class="emailButton">
        View Hyku
      </a>
    </div>

    <p class="emailBodyCenter"><b>Share</b> the link - the more the merrier.</p>


    <p class="emailDetailBody">Enough joined to make this event happen, but payments will only be processed on "ExpirationDate" (or when the cap is reached) at the lowest group price point achieved.</p>

  </div>

  <div class="footer-email">
    <p class="">
      <a class="socialMediaFooter" href=""><i class="fa fa-facebook-official"></i></a>
      <a class="socialMediaFooter" href="https://twitter.com/hykuHQ"><i class="fa fa-twitter-square"></i></a>
    </p>
    <a href="" class="unsubscribe">Unsubscribe</a>
  </div>


</div>

</body>

</html>
