<!DOCTYPE html>
<html>
  <head>
    <title>Hyku GO to Partner</title>
    <link rel='stylesheet' href='/stylesheets/emails/partnerRegistered.css'>
  </head>
<body>

<br />
<br />
<br />
<br />

<div class="email-background">

  <div class="email-container">

    <h3 class="logoHeader">
      Hyku
    </h3>

    <hr class="emailHR">
    </hr>

    <h2 class="nameHeader">
      Hi "PartnerName",
    </h2>

    <p class="emailBody">Mark your calendars - a group just booked you!</p>

    <div class="emailButtonContainer">
      <a href="http://www.hyku.io/activate/" class="emailButton">
        Manage Hyku
      </a>
    </div>

    <br />


    <h3 class="logoHeader">
      Group Contact
    </h3>

    <hr class="emailHR">
    </hr>

    <table class="emailTable">
      <tr>
        <td class="emailTableTitle">Name</td>
        <td class="emailTableDetails">"OrganizerName"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Email</td>
        <td class="emailTableDetails">"OrganizerEmail"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Phone</td>
        <td class="emailTableDetails">"OrganizerPhone"</td>
      </tr>
    </table>

    <br />

    <h3 class="logoHeader">
      Event Details
    </h3>

    <hr class="emailHR">
    </hr>

    <table class="emailTable">
      <tr>
        <td class="emailTableTitle">Purchased</td>
        <td class="emailTableDetails">"ProductName"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Location</td>
        <td class="emailTableDetails">"PartnerAddress"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Event Date</td>
        <td class="emailTableDetails">"EventDate"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Event Time</td>
        <td class="emailTableDetails">"EventTime"</td>
      </tr>
    </table>

    <br />

    <h3 class="logoHeader">
      Number in Party
    </h3>

    <hr class="emailHR">
    </hr>

    <table class="emailTable">
      <tr>
        <td class="emailTableTitle">Current Number</td>
        <td class="emailTableDetails">"CurrentNumberOfJoiners"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Available Spots Left</td>
        <td class="emailTableDetails">"CAP-CurrentNumberOfJoiners"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Hyku Deadline</td>
        <td class="emailTableDetails">"ExpirationDate"</td>
      </tr>
    </table>

    <p class="emailDetailBody">We'll confirm the total number in the group when the hyku expires on "ExpirationDate"</p>

  </div>

  <div class="footer-email">
    <p class="">
      <a class="socialMediaFooter" href=""><i class="fa fa-facebook-official"></i></a>
      <a class="socialMediaFooter" href="https://twitter.com/hykuHQ"><i class="fa fa-twitter-square"></i></a>
    </p>
    <a href="" class="unsubscribe">Unsubscribe</a>
  </div>


</div>

</body>

</html>
