<!DOCTYPE html>
<html>
  <head>
    <title>Hyku Complete to Joiners</title>
    <link rel='stylesheet' href='/stylesheets/emails/businessRegistered.css'>
  </head>
<body>

<br />
<br />
<br />
<br />

<div class="email-background">

  <div class="email-container">

    <h3 class="logoHeader">
      Hyku
    </h3>

    <hr class="emailHR">
    </hr>

    <table class="emailTable">
      <tr>
        <td class="emailTableTitle">Confirmation Code</td>
        <td class="emailTableDetails">"TransactionCode"</td>
      </tr>
    </table>

    <h2 class="nameHeader">
      Hi "JoinerName",
    </h2>

    <p class="emailBodyCenter">"Your hyku for "OrganizerName"'s "ProductName" at "PartnerName" has been successfully purchased!"</p>

    <div class="emailButtonContainer">
      <a href="http://www.hyku.io/activate/" class="emailButton">
        View Hyku
      </a>
    </div>

    <br />

    <h3 class="logoHeader">
      Order Details
    </h3>

    <hr class="emailHR">
    </hr>

    <table class="emailTable">
      <tr>
        <td class="emailTableTitle">Description</td>
        <td class="emailTableDetails">"ProductName"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Price</td>
        <td class="emailTableDetails">"CurrentPrice"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Quantity</td>
        <td class="emailTableDetails">"JoinerQuantity"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Total Payment</td>
        <td class="emailTableDetails">"AmountChargedToJoiner"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Payment Details</td>
        <td class="emailTableDetails">**"LastFourDigitsOfCreditCard"</td>
      </tr>
    </table>

    <br />


    <h3 class="logoHeader">
      Group Contact
    </h3>

    <hr class="emailHR">
    </hr>

    <table class="emailTable">
      <tr>
        <td class="emailTableTitle">Name</td>
        <td class="emailTableDetails">"OrganizerName"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Email</td>
        <td class="emailTableDetails">"OrganizerEmail"</td>
      </tr>
    </table>

    <br />

    <h3 class="logoHeader">
      Event Details
    </h3>

    <hr class="emailHR">
    </hr>

    <table class="emailTable">
      <tr>
        <td class="emailTableTitle">Purchased</td>
        <td class="emailTableDetails">"ProductName"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Location</td>
        <td class="emailTableDetails">"PartnerName"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Address</td>
        <td class="emailTableDetails">"PartnerAddress"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Event Date</td>
        <td class="emailTableDetails">"EventDate"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Event Time</td>
        <td class="emailTableDetails">"EventTime"</td>
      </tr>
      <tr>
        <td class="emailTableTitle"># in Group</td>
        <td class="emailTableDetails">"CurrentNumberOfJoiners"</td>
      </tr>
    </table>

    <br />

    <h3 class="logoHeader">
      What Now?
    </h3>

    <hr class="emailHR">
    </hr>

    <OL class="olEmail">
        <li> "OrganizerName" or "PartnerName" will contact you if there's any special instructions you need to complete beforehand</li>
        <li> If not, know your redemption code (top of this email), show up to the event, and enjoy!</li>
    </OL>

    <p class="emailDetailBody">If you got this email in error, please shoot us an email at happycustomers@hyku.io and we'll quickly get it squared away.</p>

  </div>

  <div class="footer-email">
    <p class="">
      <a class="socialMediaFooter" href=""><i class="fa fa-facebook-official"></i></a>
      <a class="socialMediaFooter" href="https://twitter.com/hykuHQ"><i class="fa fa-twitter-square"></i></a>
    </p>
    <a href="" class="unsubscribe">Unsubscribe</a>
  </div>


</div>

</body>

</html>
