<!DOCTYPE html>
<html>
  <head>
    <title>Cap Reached To Organizer</title>
    <link rel='stylesheet' href='/stylesheets/emails/partnerRegistered.css'>
  </head>
<body>

<br />
<br />
<br />
<br />

<div class="email-background">

  <div class="email-container">

    <h3 class="logoHeader">
      Hyku
    </h3>

    <hr class="emailHR">
    </hr>

    <h2 class="nameHeader">
      Hi "JoinerName",
    </h2>

    <p class="emailBody">Swing and a miss.</p>
    <p class="emailBody">"OrganizerName"'s hyku did not get enough people for it to be a GO. The hyku is now expired and your credit card will not be charged.</p>
    <p class="emailBody">If you like to try again and create another hyku, check out all our available offerings.</p>

    <div class="emailButtonContainer">
      <a href="http://www.hyku.io/activate/" class="emailButton">
        Discover Hykus
      </a>
    </div>

    <br />

    <h3 class="logoHeader">
      Expired Hyku
    </h3>

    <hr class="emailHR">
    </hr>

    <table class="emailTable">
      <tr>
        <td class="emailTableTitle">Description</td>
        <td class="emailTableDetails">"ProductName"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Location</td>
        <td class="emailTableDetails">"BusinessName"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Event Date</td>
        <td class="emailTableDetails">"EventDate"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Event Time</td>
        <td class="emailTableDetails">"EventTime"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Min Number to GO</td>
        <td class="emailTableDetails">"goMinimum"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Number Joined</td>
        <td class="emailTableDetails">"CurrentNumberOfJoiners"</td>
      </tr>
    </table>

    <p class="emailBodyCenter">
      <a href="http://www.hyku.io/activate/">
        <u>View</u>
      </a>
    </p>



  </div>

  <div class="footer-email">
    <p class="">
      <a class="socialMediaFooter" href=""><i class="fa fa-facebook-official"></i></a>
      <a class="socialMediaFooter" href="https://twitter.com/hykuHQ"><i class="fa fa-twitter-square"></i></a>
    </p>
    <a href="" class="unsubscribe">Unsubscribe</a>
  </div>


</div>

</body>

</html>
