<!DOCTYPE html>
<html>
  <head>
    <title>Hyku Expired To Partner</title>
    <style>
    .textColorBlue{
      color: rgba(33, 125, 187, 1);
    }

    .email-background{
      background: #eeeeee;
      padding: 10px;
    }

    .email-container{
      max-width: 500px;
      background: white;
      font-family: sans-serif;
      margin: 0 auto;
      overflow: hidden;
      border-radius: 5px;
      text-align: left;
    }

    .logoHeader{
      text-align: center;
      font-size: 18px;
      color: rgba(33, 125, 187, 1);
    }

    .emailDetailBodyDescription{
      margin-left: 30px;
      margin-right: 30px;
      padding: 20px;
      font-size: 14px;
      font-weight: 300;
      color: rgba(112, 112, 114, 1);
      line-height: 1.3;
      text-align: left;
    }

    .emailHR{
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #ccc;
      margin: 1em 0;
      padding: 0;
      margin-left: 25%;
      margin-right: 25%;
    }

    .nameHeader{
      color: rgba(112, 112, 114, 1);
      text-align: left;
      margin: 20px;
      padding: 20px;
      font-size: 20px;
    }

    .emailDetailBody{
      margin: 20px;
      padding: 20px;
      font-size: 14px;
      font-weight: 300;
      color: rgba(112, 112, 114, 1);
      line-height: 1.3;
      text-align: center;
    }

    .emailBody{
      margin: 20px;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 18px;
      font-weight: 300;
      color: rgba(150, 150, 150, 1);
      line-height: 1.5;
      text-align: left;
    }

    .emailBodyCenter{
      margin: 20px;
      font-size: 18px;
      font-weight: 300;
      color: rgba(150, 150, 150, 1);
      line-height: 1.5;
      text-align: center;
    }

    .emailButtonContainer{
      text-align: center;
      padding: 20px;
    }

    .emailButton{
      text-decoration: none;
      display: inline-block;
      background: rgba(33, 125, 187, 1);
      color: white;
      padding: 10px 20px 10px;
      border-radius: 5px;
    }

    .ulEmail{
      margin-top: 20px;
      margin-left: 30px;
      margin-right: 30px;
      font-size: 16px;
      font-weight: 300;
      color: rgba(112, 112, 114, 1);
      line-height: 1.5;
      list-style-type: none;
    }

    .olEmail{
      margin-top: 20px;
      margin-left: 30px;
      margin-right: 30px;
      font-size: 16px;
      font-weight: 300;
      color: rgba(112, 112, 114, 1);
      line-height: 1.5;
    }

    ul.ulEmail li:before {
      float: left;
      text-align: center;
      width: 1.4em;
      font-family: 'FontAwesome';
      margin:0 5px 0 -15px;
    }

    ul.ulEmail li.create:before {
      content: "\f044";
      color: rgba(33, 125, 187, 1);
    }

    ul.ulEmail li.monitor:before {
      content: "\f201";
      color: rgba(33, 125, 187, 1);
    }

    ul.ulEmail li.dollar:before {
      content: "\f155";
      color: rgba(33, 125, 187, 1);
    }

    .emailTable {
      border-bottom: 1px solid #ddd;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }

    .emailTableTitle {
      text-align: left;
      padding: 10px;
      font-size: 16px;
      font-weight: 300;
      color: rgba(112, 112, 114, 1);
    }

    .emailTableDetails{
      text-align: right;
      padding: 10px;
      font-size: 16px;
      color: rgba(112, 112, 114, 1);
    }

    .unsubscribe{
      color: rgba(112, 112, 114, 1);
    }

    .footerSocialMedia{
      display: inline-block;
      text-align: center;
    }

    .icons{
      text-align: center;
      padding: 5px;
      width: 30px;
    }

    .centeralign {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }

    .table-striped > tbody > tr:nth-of-type(odd) {
      background-color: #f9f9f9;
    }

    .logoTop {
      width: 50px;
    }

    .logoWrap{
      margin: 15px;
    }
  </style>
  </head>
<body>

<div class="email-background">

  <div class="email-container">

    <div class="logoWrap centeralign">
        <a href="https://www.hyku.io">
          <img src="https://www.hyku.io/images/logo.png" class="logoTop" alt="Hyku">
        </a>
      </div>

    <hr class="emailHR">
    </hr>

    <h2 class="nameHeader">
      Hi "PartnerName",
    </h2>

    <p class="emailBody">"OrganizerName"'s hyku expired before hitting the GO minimum.</p>
    <p class="emailBody">Thank you for holding the spot for them, but they weren't able to get enough people together to make it happen at that time.</p>

    <div class="emailButtonContainer">
      <a href="http://www.hyku.io/activate/" class="emailButton">
        View Hyku
      </a>
    </div>

    <br />

    <h3 class="logoHeader">
      Canceled Hyku
    </h3>

    <hr class="emailHR">
    </hr>

    <table class="table emailTable table-striped">
      <tr>
        <td class="emailTableTitle">Description</td>
        <td class="emailTableDetails">"ProductName"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Location</td>
        <td class="emailTableDetails">"BusinessName"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Address</td>
        <td class="emailTableDetails">"BusinessAddress"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Event Date</td>
        <td class="emailTableDetails">"EventDate"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Event Time</td>
        <td class="emailTableDetails">"EventTime"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Min Number to GO</td>
        <td class="emailTableDetails">"goMinimum"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Number Joined</td>
        <td class="emailTableDetails">"CurrentNumberOfJoiners"</td>
      </tr>
    </table>

    <br />




  </div>

  <br />
<div class="centeralign">
  <span class="footerSocialMedia">
    <a href="-facebookLink-">
      <img src="https://www.hyku.io/images/facebook.png" class="icons" alt="Facebook">
    </a>
  </span>
  <span class="footerSocialMedia">
    <a href="https://twitter.com/hykuHQ">
      <img src="https://www.hyku.io/images/twitter.png" class="icons" alt="Twitter">
    </a>
  </span>
  <br />

  <a href="-unsubscribeLinkID-" class="unsubscribe">Unsubscribe</a>

</div>


</div>

</body>

</html>
