<!DOCTYPE html>
<html>
  <head>
    <title>Hyku Complete to Business</title>
    <link rel='stylesheet' href='/stylesheets/emails/businessRegistered.css'>
  </head>
<body>

<br />
<br />
<br />
<br />

<div class="email-background">

  <div class="email-container">

    <h3 class="logoHeader">
      Hyku
    </h3>

    <hr class="emailHR">
    </hr>

    <h2 class="nameHeader">
      Hi "PartnerName",
    </h2>

    <p class="emailBody">A group of prepaid customers is headed your way!</p>

    <div class="emailButtonContainer">
      <a href="http://www.hyku.io/activate/" class="emailButton">
        Manage Hyku
      </a>
    </div>

    <br />


    <h3 class="logoHeader">
      Event Details
    </h3>

    <hr class="emailHR">
    </hr>

    <p class="emailSectionHeader">
    Group Contact
    </p>
    <p class="emailSectionBody">
    "OrganizerName"
    <br />
    "OrganizerEmail", "OrganizerPhone"
    </p>

    <br />

    <p class="emailSectionHeader">
    Event Details
    </p>
    <p class="emailSectionBody">
    Purchased: "ProductName"
    <br />
    Event Date: "EventDate", "EventTime"
    <br />
    Quantity: "CurrentNumberOfJoiners" people
    </p>

    <br />

    <h3 class="logoHeader">
      Payment
    </h3>

    <hr class="emailHR">
    </hr>

    <p class="emailSectionBody">
    Total Amount: "TotalGroupPrice"
    <br />
    Hyku Fee: "HykuFee"
    <br />
    Payment: $"HykuPaymentToBusiness"
    </p>

    <p class="emailDetailBody">Payment will be deposited into your account in 2-3 business days. Login to your hyku dashboard to process any refunds.</p>

  </div>

  <div class="footer-email">
    <p class="">
      <a class="socialMediaFooter" href=""><i class="fa fa-facebook-official"></i></a>
      <a class="socialMediaFooter" href="https://twitter.com/hykuHQ"><i class="fa fa-twitter-square"></i></a>
    </p>
    <a href="" class="unsubscribe">Unsubscribe</a>
  </div>


</div>

</body>

</html>
