<!DOCTYPE html>
<html>
  <head>
    <title>Hyku Complete to Partner</title>
    <link rel='stylesheet' href='/stylesheets/emails/partnerRegistered.css'>
  </head>
<body>

<br />
<br />
<br />
<br />

<div class="email-background">

  <div class="email-container">

    <h3 class="logoHeader">
      Hyku
    </h3>

    <hr class="emailHR">
    </hr>

    <h2 class="nameHeader">
      Hi "PartnerName",
    </h2>

    <p class="emailBody">A group of "CurrentNumberOfJoiners" prepaid customers is headed your way!</p>

    <div class="emailButtonContainer">
      <a href="http://www.hyku.io/activate/" class="emailButton">
        Manage Hyku
      </a>
    </div>

    <br />


    <h3 class="logoHeader">
      Group Contact
    </h3>

    <hr class="emailHR">
    </hr>

    <table class="table emailTable table-striped">
      <tr>
        <td class="emailTableTitle">Name</td>
        <td class="emailTableDetails">"OrganizerName"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Email</td>
        <td class="emailTableDetails">"OrganizerEmail"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Phone</td>
        <td class="emailTableDetails">"OrganizerPhone"</td>
      </tr>
    </table>

    <br />

    <h3 class="logoHeader">
      Event Details
    </h3>

    <hr class="emailHR">
    </hr>

    <table class="table emailTable table-striped">
      <tr>
        <td class="emailTableTitle">Purchased</td>
        <td class="emailTableDetails">"ProductName"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Event Date</td>
        <td class="emailTableDetails">"EventDate"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Event Time</td>
        <td class="emailTableDetails">"EventTime"</td>
      </tr>
      <tr>
        <td class="emailTableTitle"># in Group</td>
        <td class="emailTableDetails">"CurrentNumberOfJoiners"</td>
      </tr>
    </table>

    <br />

    <h3 class="logoHeader">
      Payment
    </h3>

    <hr class="emailHR">
    </hr>

    <table class="table emailTable table-striped">
      <tr>
        <td class="emailTableTitle">Received</td>
        <td class="emailTableDetails">"PaymentDate"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Price per person</td>
        <td class="emailTableDetails">"CurrentPrice"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Number Sold</td>
        <td class="emailTableDetails">"CurrentNumberOfJoiners"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Total Amount</td>
        <td class="emailTableDetails">"TotalGroupPrice"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Hyku Fee</td>
        <td class="emailTableDetails">-"HykuFee"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Payment</td>
        <td class="emailTableDetails">$"HykuPaymentToPartner"</td>
      </tr>
    </table>

    <p class="emailDetailBody">Payment will be deposited into your account in 2-3 business days. Login to your hyku dashboard to process any refunds.</p>

    <h3 class="logoHeader">
      Paid Customers
    </h3>

    <hr class="emailHR">
    </hr>

    <table class="table emailTable table-striped">
      <tr class="">
        <td class="emailTableTitle"><u class="blue">Customer Name</u></th>
        <td class="emailTableDetails"><u class="blue">Redemption Code</u></th>
      </tr>
      <tr>
        <td class="emailTableTitle">Max Powers</td>
        <td class="emailTableDetails">"RedemptionCode"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Max Powers2</td>
        <td class="emailTableDetails">"RedemptionCode2"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Max Powers3</td>
        <td class="emailTableDetails">"RedemptionCode3"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Max Powers4</td>
        <td class="emailTableDetails">"RedemptionCode4"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Max Powers5</td>
        <td class="emailTableDetails">"RedemptionCode5"</td>
      </tr>
    </table>

    <br />
    <br />

  </div>

  <div class="footer-email">
    <p class="">
      <a class="socialMediaFooter" href=""><i class="fa fa-facebook-official"></i></a>
      <a class="socialMediaFooter" href="https://twitter.com/hykuHQ"><i class="fa fa-twitter-square"></i></a>
    </p>
    <a href="" class="unsubscribe">Unsubscribe</a>
  </div>


</div>

</body>

</html>
