<!DOCTYPE html>
<html>
  <head>
    <title>Joiner Joined Before Go</title>
    <link rel='stylesheet' href='/stylesheets/emails/partnerRegistered.css'>
  </head>
<body>

<br />
<br />
<br />
<br />

<div class="email-background">

  <div class="email-container">

    <h3 class="logoHeader">
      Hyku
    </h3>

    <hr class="emailHR">
    </hr>

    <h2 class="nameHeader">
      Hi "JoinerName",
    </h2>

    <p class="emailBodyCenter">You have joined "OrganizerName"'s group!</p>

    <table class="table emailTable table-striped">
      <tr>
        <td class="emailTableTitle">Organizer Name</td>
        <td class="emailTableDetails">"OrganizerName"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Organizer Contact</td>
        <td class="emailTableDetails">"OrganizerEmail"</td>
      </tr>
    </table>
    <br />
    <table class="table emailTable table-striped">
      <tr>
        <td class="emailTableTitle">Description</td>
        <td class="emailTableDetails">"ProductName"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Quantity</td>
        <td class="emailTableDetails">"QuantityPurchased"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Location</td>
        <td class="emailTableDetails">"PartnerName"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Address</td>
        <td class="emailTableDetails">"PartnerAddress"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Event Date</td>
        <td class="emailTableDetails">"EventDate"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Event Time</td>
        <td class="emailTableDetails">"EventTime"</td>
      </tr>
    </table>

    <p class="emailBodyCenter">Noone will be charged unless <b>"GoMinimum - CurrentNumberOfJoiners" more </b> people have joined this group.</p>

    <p class="emailBodyCenter">So <b>share</b> the link and make good times happen.</p>

    <div class="emailButtonContainer">
      <a href="http://www.hyku.io/activate/" class="emailButton">
        View Hyku
      </a>
    </div>

    <p class="emailDetailBody">Payments will only be processed when at least "goMinimum" have joined the group. Price will be the lowest group price point achieved.</p>

  </div>

  <div class="footer-email">
    <p class="">
      <a class="socialMediaFooter" href=""><i class="fa fa-facebook-official"></i></a>
      <a class="socialMediaFooter" href="https://twitter.com/hykuHQ"><i class="fa fa-twitter-square"></i></a>
    </p>
    <a href="" class="unsubscribe">Unsubscribe</a>
  </div>


</div>

</body>

</html>
