<!DOCTYPE html>
<html>
  <head>
    <title>Hyku Offer Created by Partner</title>
    <link rel='stylesheet' href='/stylesheets/emails/partnerRegistered.css'>
  </head>
<body>

<br />
<br />
<br />
<br />

<div class="email-background">

  <div class="email-container">

    <h3 class="logoHeader">
      Hyku
    </h3>

    <hr class="emailHR">
    </hr>

    <h2 class="nameHeader">
      Hi "PartnerName",
    </h2>

    <p class="emailBody">You have created an offer template on Hyku!</p>
    <p class="emailBody">Interested customers can now use this template to mobilize their friends to come to you.</p>

    <div class="emailButtonContainer">
      <a href="http://www.hyku.io/activate/" class="emailButton">
        Manage Offer
      </a>
    </div>

    <h3 class="logoHeader">
      General Information
    </h3>

    <hr class="emailHR">
    </hr>

    <table class="table emailTable table-striped">
      <tr>
        <td class="emailTableTitle">Location</td>
        <td class="emailTableDetails">"PartnerName"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Address</td>
        <td class="emailTableDetails">"PartnerAddress"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Product</td>
        <td class="emailTableDetails">"ProductName"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Avg Group</td>
        <td class="emailTableDetails">"MinPartySize"-"MaxPartySize" people</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Avg Duration</td>
        <td class="emailTableDetails">"EventDuration" hours</td>
      </tr>
    </table>

    <p class="emailDetailBodyDescription"><b>Description:</b> "ProductDescription"</p>

    <h3 class="logoHeader">
      Offer Details
    </h3>

    <hr class="emailHR">
    </hr>

    <table class="table emailTable">
      <tr>
        <td class="emailTableTitle">Base Tier</td>
      </tr>
    </table>

    <table class="table emailTable table-striped">
      <tr>
        <td class="emailTableTitle">Price per Person</td>
        <td class="emailTableDetails">"BasePrice"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Group Minimum</td>
        <td class="emailTableDetails">"MinimumGroup" customers</td>
      </tr>
    </table>

    <table class="table emailTable">
      <tr>
        <td class="emailTableTitle">Tier 1</td>
      </tr>
    </table>

    <table class="table emailTable table-striped">
      <tr>
        <td class="emailTableTitle">Price per Person</td>
        <td class="emailTableDetails">$"PriceLevelTwo"pp</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Reward Offering</td>
        <td class="emailTableDetails">"RewardLevelTwo"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">1st Tier Threshold</td>
        <td class="emailTableDetails">"NumberLevelTwo" customers</td>
      </tr>
    </table>

    <table class="table emailTable">
      <tr>
        <td class="emailTableTitle">Tier 2</td>
      </tr>
    </table>

    <table class="table emailTable table-striped">
      <tr>
        <td class="emailTableTitle">Price Per Person</td>
        <td class="emailTableDetails">$"PriceLevelThree"pp</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Reward Offering</td>
        <td class="emailTableDetails">"RewardLevelTwo"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">2nd Tier Threshold</td>
        <td class="emailTableDetails">"NumberLevelThree" customers</td>
      </tr>
    </table>

    <table class="table emailTable">
      <tr>
        <td class="emailTableTitle">Cap & Duration</td>
      </tr>
    </table>

    <table class="table emailTable table-striped"
      <tr>
        <td class="emailTableTitle">Group Cap</td>
        <td class="emailTableDetails">"Cap" customers</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Hyku Duration</td>
        <td class="emailTableDetails">"OfferDuration"</td>
      </tr>
    </table>

    <br />
    <br />

  </div>

  <div class="footer-email">
    <p class="">
      <a class="socialMediaFooter" href=""><i class="fa fa-facebook-official"></i></a>
      <a class="socialMediaFooter" href="https://twitter.com/hykuHQ"><i class="fa fa-twitter-square"></i></a>
    </p>
    <a href="" class="unsubscribe">Unsubscribe</a>
  </div>


</div>

</body>

</html>
