<!DOCTYPE html>
<html>
  <head>
    <title>Post-Go Hyku About To Expire To Organizer</title>
    <link rel='stylesheet' href='/stylesheets/emails/partnerRegistered.css'>
  </head>
<body>

<br />
<br />
<br />
<br />

<div class="email-background">

  <div class="email-container">

    <h3 class="logoHeader">
      Hyku
    </h3>

    <hr class="emailHR">
    </hr>

    <h2 class="nameHeader">
      Hi "OrganizerName",
    </h2>

    <p class="emailBody">Your hyku is about to expire!</p>
    <p class="emailBody">Share the link and make one final push to see if more of your friends could make it.</p>
    <p class="emailBody">You already hit the Go minimum, so when the hyku expires (or the Cap is reached), we'll charge the payments and send tickets to each joiner.</p>

    <div class="emailButtonContainer">
      <a href="http://www.hyku.io/activate/" class="emailButton">
        View Hyku
      </a>
    </div>

    <br />


  </div>

  <div class="footer-email">
    <p class="">
      <a class="socialMediaFooter" href=""><i class="fa fa-facebook-official"></i></a>
      <a class="socialMediaFooter" href="https://twitter.com/hykuHQ"><i class="fa fa-twitter-square"></i></a>
    </p>
    <a href="" class="unsubscribe">Unsubscribe</a>
  </div>


</div>

</body>

</html>
