<!DOCTYPE html>
<html>
  <head>
    <title>Hyku Request to Partner</title>
    <link rel='stylesheet' href='/stylesheets/emails/partnerRegistered.css'>
  </head>
<body>

<br />
<br />
<br />
<br />

<div class="email-background">

  <div class="email-container">

    <h3 class="logoHeader">
      Hyku
    </h3>

    <hr class="emailHR">
    </hr>

    <h2 class="nameHeader">
      Hi "PartnerName",
    </h2>

    <p class="emailBody">"OrganizerName" is interested in bringing a group but needs to confirm a date and time with you.</p>
    <p class="emailBody">Please login to the hyku dashboard and confirm whether the proposed time is acceptable.</p>

    <div class="emailButtonContainer">
      <a href="http://www.hyku.io/activate/" class="emailButton">
        View Hyku
      </a>
    </div>

    <h3 class="logoHeader">
      Group Contact
    </h3>

    <hr class="emailHR">
    </hr>

    <table class="table emailTable table-striped">
      <tr>
        <td class="emailTableTitle">Name</td>
        <td class="emailTableDetails">"OrganizerName"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Email</td>
        <td class="emailTableDetails">"OrganizerEmail"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Phone</td>
        <td class="emailTableDetails">"OrganizerPhone"</td>
      </tr>
    </table>

    <h3 class="logoHeader">
      Proposed Date
    </h3>

    <hr class="emailHR">
    </hr>

    <table class="table emailTable table-striped">
      <tr>
        <td class="emailTableTitle">Description</td>
        <td class="emailTableDetails">"ProductName"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Location</td>
        <td class="emailTableDetails">"PartnerAddress"</td>
      </tr>
      <tr>
        <td class="emailTableTitle">Event Date</td>
        <td class="emailTableDetails"><b>"EventDate"</b></td>
      </tr>
      <tr>
        <td class="emailTableTitle">Event Time</td>
        <td class="emailTableDetails"><b>"EventTime"</b></td>
      </tr>
      <tr>
        <td class="emailTableTitle">Est. # in Group</td>
        <td class="emailTableDetails">"EstimatedNumber"</td>
      </tr>
    </table>

    <br />
    <br />

  </div>

  <div class="footer-email">
    <p class="">
      <a class="socialMediaFooter" href=""><i class="fa fa-facebook-official"></i></a>
      <a class="socialMediaFooter" href="https://twitter.com/hykuHQ"><i class="fa fa-twitter-square"></i></a>
    </p>
    <a href="" class="unsubscribe">Unsubscribe</a>
  </div>


</div>

</body>

</html>
