<!-- Footer - Separate this code out, so it's not repeating across all files -->
<div class="jumbotron white">
  <div class="container">
    <hr>
    </hr>
    <div class="row">

      <div class="col-sm-6 centeralign ">
        <br />
        <h4 class="darkgray">
          Join us on <br/>
        </h4>
        <h3 class="green">
          <a class="green" href=""><i class="fa fa-facebook-official"></i></a>
          <a class="green" href="https://twitter.com/hykuHQ"><i class="fa fa-twitter-square"></i></a>
        </h3>
        <br />
        <hr>
        </hr>
      </div>

      <div class="col-sm-2">
        <UL id="footer">
          <h4 class="blue">
            <li>
              Company <br/>
            </li>
          </h4>

          <h5 class="darkgray">
            <li> <a class="darkgray" href="">About</a> </li>
            <li> <a class="darkgray" href="">Press</a> </li>
            <li> <a class="darkgray" href="">Team</a> </li>
            <li> <a class="darkgray" href="">Blog</a> </li>
          </h5>
        </UL>

        <hr>
        </hr>
      </div>

      <div class="col-sm-2">
        <UL id="footer">
          <h4 class="blue">
            <li>
              Customers <br/>
            </li>
          </h4>

          <h5 class="darkgray">
            <li> <a class="darkgray" href="">How it works</a> </li>
            <li> <a class="darkgray" href="">Discover Events</a> </li>
          </h5>
        </UL>

        <br />
        <br />
        <hr>
        </hr>
      </div>

      <div class="col-sm-2">
        <UL id="footer">
          <h4 class="blue">
            <li>
              Partners <br/>
            </li>
          </h4>

          <h5 class="darkgray">
            <li> <a class="darkgray" href="">Why Partner</a> </li>
            <li> <a class="darkgray" href="">Pricing</a> </li>
          </h5>
        </UL>

        <br />
        <br />
        <hr>
        </hr>
      </div>

    </div>

    <div class="row darkgray centeralign">
    <br /><br />

        © Hyku, LLC.<br />
        <a class="darkgray" href="">Privacy Policy </a> | <a class="darkgray" href="">Terms of Use</a>

    </div>

  </div>
</div>
