<!-- Footer - Separate this code out, so it's not repeating across all files -->

<div class="jumbotron lightgray" id="footerJumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-12">
            <UL id="footer">
              <h4 class="blue">
                <li>
                  Company <br/>
                </li>
              </h4>
            </UL>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <UL id="footer">
              <h5 class="darkgray">
                <li> <a class="darkgray" href="">Discover Events</a> </li>
                <li> <a class="darkgray" href="">About</a> </li>
              </h5>
            </UL>
          </div>
          <div class="col-sm-6">
            <UL id="footer">
              <h5 class="darkgray">
                <li> <a class="darkgray" href="">Blog</a> </li>
                <li> <a class="darkgray" href="">Press</a> </li>
              </h5>
            </UL>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="row">
          <div class="col-sm-12">
            <UL id="footer">
              <h4 class="blue">
                <li>
                  Partners <br/>
                </li>
              </h4>
            </UL>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <UL id="footer">
              <h5 class="darkgray">
                <li> <a class="darkgray" href="">Why Partner</a> </li>
                <li> <a class="darkgray" href="">Pricing</a> </li>
              </h5>
            </UL>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="row">
          <div class="col-sm-12">
            <UL id="footer">
              <h4 class="blue">
                <li>
                  Support <br/>
                </li>
              </h4>
            </UL>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <UL id="footer">
              <h5 class="darkgray">
                <li> <a class="darkgray" href="">Help Center</a> </li>
                <li> <a class="darkgray" href="">Contact</a> </li>
              </h5>
            </UL>
          </div>
        </div>
      </div>
      <div class="col-sm-1 centeralign">
      </div>
      <div class="col-sm-3 centeralign">

        <div class="panel panel-default">
            <div class="panel-body white">
        <h4 class="darkgray">
          Join us on <br/>
        </h4>
        <h3 class="green">
          <a class="green" href=""><i class="fa fa-facebook-official"></i></a>
          <a class="green" href="https://twitter.com/hykuHQ"><i class="fa fa-twitter-square"></i></a>
        </h3>
        </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <hr id="footerHR">
  </hr>
  <div class="container">
    <div class="row darkgray centeralign">
    <br /><br />
      <a class="darkergray" href="">Privacy Policy </a> | <a class="darkergray" href="">Terms of Use</a>
      <br />
      <br />
      © Hyku, LLC.
    </div>
  </div>
</div>
