<html>
  <head>
  <link rel="stylesheet" href="/stylesheets/about.css">
    <script src="js/wow.mis.js"></script>
    <script>
      new WOW().init();
    </script>
  </head>

<body>

<div class="jumbotron" id="aboutCover">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-3 col-sm-5 vcenter">
        <br />
        <br />
        <div class="panel panel-transparent">
          <div class="panel-body">
            <h2 class="centeralign whiteC">
              A Smarter Way to Bring People Together
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="jumbotron white">
  <div class="container white">

    <div class="row">
      <div id="headings" class="col-sm-offset-2 col-sm-8">
        <br />
          <h2>
            An app to mobilize and manage group events
          </h2>
        <br />

          <hr class="greenline">
          </hr>

        <br />
          <h4 class = "darkgray">
            <p class ="big">
            Just pick something to do and send our link to your friends
            <br />- we'll handle the rest.
            <br />
            <br />From auto-negotiating group discounts to auto-refunding payments, Hyku is a stress-free, risk-free way of organizing group events.
            </p>
          </h4>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron lightgray">
  <div class="container lightgray centeralign">
    <div class="row">
      <h3 class="darkgray">
        New experiences are added to our platform daily
        <br />
        <br />
      </h3>
    </div>
    <div class="row">
        <div class="col-sm-2">
          <img src="/images/bobby.jpg" class="img-responsive wow fadeInUp animated" alt="Frontier">
        </div>
        <div class="col-sm-2">
          <img src="/images/davin.jpg" class="img-responsive wow fadeInUp animated" alt="Frontier">
        </div>
        <div class="col-sm-2">
          <img src="/images/detours.jpg" class="img-responsive wow fadeInUp animated" alt="Frontier">
        </div>
        <div class="col-sm-2">
          <img src="/images/arts.jpg" class="img-responsive wow fadeInUp animated" alt="Frontier">
        </div>
        <div class="col-sm-2">
          <img src="/images/front.jpg" class="img-responsive wow fadeInUp animated" alt="Frontier">
        </div>
        <div class="col-sm-2">
          <img src="/images/kendall.jpg" class="img-responsive wow fadeInUp animated" alt="Frontier">
        </div>
    </div>
  </div>
</div>



<div class="jumbotron white">
  <div class="container white">

    <div class="row">
      <div id="headings" class="col-sm-offset-2 col-sm-8">
        <br />
          <h2>
            The Team
          </h2>
        <br />

          <hr class="greenline">
          </hr>

        <br />
          <div class="row">
            <div class="col-sm-12 centeralign">
              <h4 class="big darkgray">
                Founded in 2015 and based in Chicago, Hyku was built from our own personal struggles with organizing group events. Reimaging the process from the ground-up, we built a platform that makes bringing people together easier than ever.
                <br />
                <br />
              </h4>
            </div>
          <br />
          <br />
          <div class="row">
            <div class="col-sm-6 centeralign">
              <a href="https://www.linkedin.com/in/shawnethomas">
                <img src="/images/shawn.png" id="teamImage" class="img-responsive" alt="Active" onmouseover="this.src='/images/shawnLinkedin.png'" onmouseout="this.src='/images/shawn.png'">
              </a>

              <h4 class = "darkgray">
                Shawn
              </h4>

              <br />
              <br />
            </div>
            <div class="col-sm-6 centeralign">
              <a href="https://www.linkedin.com/in/michael-borosh-95898b1">
                <img src="/images/shawn.png" id="teamImage" class="img-responsive" alt="Active" onmouseover="this.src='/images/shawnLinkedin.png'" onmouseout="this.src='/images/shawn.png'">
              </a>
            <h4 class = "darkgray">
                Michael
                <br />
                <br />
                <br />
                <br />
                <br />
              </h4>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>







<!-- Footer - Separate this code out, so it's not repeating across all files -->
<div class="jumbotron white">
  <div class="container">
    <hr>
    </hr>
    <div class="row">

      <div class="col-sm-6 centeralign ">
        <br />
        <h4 class="darkgray">
          Join us on <br/>
        </h4>
        <h3 class="green">
          <a class="green" href=""><i class="fa fa-facebook-official"></i></a>
          <a class="green" href="https://twitter.com/hykuHQ"><i class="fa fa-twitter-square"></i></a>
        </h3>
        <br />
        <hr>
        </hr>
      </div>

      <div class="col-sm-2">
        <UL id="footer">
          <h4 class="blue">
            <li>
              Company <br/>
            </li>
          </h4>

          <h5 class="darkgray">
            <li> <a class="darkgray" href="">About</a> </li>
            <li> <a class="darkgray" href="">Press</a> </li>
            <li> <a class="darkgray" href="">Team</a> </li>
            <li> <a class="darkgray" href="">Blog</a> </li>
          </h5>
        </UL>

        <hr>
        </hr>
      </div>

      <div class="col-sm-2">
        <UL id="footer">
          <h4 class="blue">
            <li>
              Customers <br/>
            </li>
          </h4>

          <h5 class="darkgray">
            <li> <a class="darkgray" href="">How it works</a> </li>
            <li> <a class="darkgray" href="">Discover Events</a> </li>
          </h5>
        </UL>

        <br />
        <br />
        <hr>
        </hr>
      </div>

      <div class="col-sm-2">
        <UL id="footer">
          <h4 class="blue">
            <li>
              Partners <br/>
            </li>
          </h4>

          <h5 class="darkgray">
            <li> <a class="darkgray" href="">Why Partner</a> </li>
            <li> <a class="darkgray" href="">Pricing</a> </li>
          </h5>
        </UL>

        <br />
        <br />
        <hr>
        </hr>
      </div>

    </div>

    <div class="row darkgray centeralign">
    <br /><br />

        © Hyku, LLC.<br />
        <a class="darkgray" href="">Privacy Policy </a> | <a class="darkgray" href="">Terms of Use</a>

    </div>

  </div>
</div>



</body>
