<div class="jumbotron" style="background-image: url('');">
  <div class="container">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h1 class="panel-title">
        </h1>
      </div>
      <div class="panel-body">
        <div class="container">
          <div class="row">
            <div class="col-sm-7">
              <h2>
                <font color="#217dbb">
                  Group Skydiving
                </font>
              </h2>

                <div class="panel-body">
                  <h5>
                    Come on out and celebrate my birthday in the skies!
                  </h5>
                  <h5>
                    <b>
                      Marilyn J.
                        <i>
                          <small>
                            Organizer
                          </small>
                        </i>
                    </b>
                  </h5>
                </div>

            </div>
            <div class="col-sm-5">
              <br />
              <div class="panel panel-info">
                <div class="panel-body">
                  <font color="##217dbb">
                    <i class="fa fa-calendar">
                    </i>
                  </font>
                  Saturday, June 18th, 2016 |
                  <i>
                  3:00pm-8:30pm
                  </i>
                </div>
              </div>
              <div class="panel panel-info">
                <div class="panel-body">
                  <font color="##217dbb">
                    <i class="fa fa-map-marker">
                    </i>
                  </font>
                    <b>
                      Skydive Chicago
                    </b>
                     | 1232 Blues Ave, Kenosha, WI, 61948
                </div>
              </div>
              <div align="right">
                <font color="##217dbb">
                  <i class="fa fa-share-square-o">
                    </i>
                </font>
                  Share
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-7">
              <div class="panel panel-info">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-sm-7">
                      <div align="left">
                        <font color="white">
                          <i class="fa fa-user">
                          </i>
                        </font>
                          4 Joined
                      </div>
                    </div>
                    <div class="col-sm-5">
                      <div align="right">
                        <font color="white">
                          <i class="fa fa-clock-o">
                          </i>
                        </font>
                          <i>
                            12 hours, 13 minutes left
                          </i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                        <span class="sr-only">
                          60% Complete
                        </span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4">
                      <div align="center">
                        <!-- if NO GO-->
                          <button type="button" class="btn btn-default btn-nogo outline" disabled>
                            3 more to GO
                          </button>
                        <!-- if GO
                          <button type="button" class="btn btn-success btn-go outline" disabled>
                            GO
                          </button>
                          -->
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div align="center">
                        <big>
                          <font color="#217dbb">
                            Current Price: <b>$199</b>
                          </font>
                        </big>
                      </div>
                      <div align="center">
                        <small>
                          <font color="gray">
                            3 more to CAP and $149
                          </font>
                        </small>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div align="right">
                        <button type="button" class="btn btn-success btn-xlarge">
                          <large>
                            JOIN
                          </large>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <font size="2" color="#a7acad">
                <i>
                  You'll only be charged if GO is reached.
                  <br />
                  You'll be charged the <u>lowest</u> group price achieved.
                </i>
              </font>
            </div>
            <div class="col-sm-5">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <font color="#217dbb">
                    <i class="fa fa-users"></i>
                  </font>
                      Going
                </div>
                <div class="container">
                  <br />
                  <div class="row">

                    <!-- I'm a bit stuck on the code here. Hopefully there's a way to use the For Loop and Functions to loop through the Joiners Array and populate the columns and color borders accordingly -->

                    <div class="col-sm-6">

                      <div class="panel panel-bodyGoing panel-green" align="center">
                        <font color="gray">
                          Shawn T
                        </font>
                      </div>

                      <div class="panel panel-bodyGoing panel-blue" align="center">
                        <font color="gray">
                          Suzie A
                        </font>

                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="panel panel-bodyGoing panel-orange" align="center">
                        <font color="gray">
                          Mark A
                        </font>
                      </div>
                      <div class="panel panel-bodyGoing panel-red" align="center">
                        <font color="gray">
                          Jenny L
                        </font>


                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
