<div class="jumbotron" style="background-image: url('/images/skydive.jpg');">
<div class="container">
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
          Panel - Product Name, Organizer Name, Tagline
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-sm-offset-2 col-sm-3">
          Logo image
        </div>
        <div class="col-xs-8 col-sm-offset-1 col-sm-4">
          Address
          Event Date
          + Share
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-5 col-md-offset-1">
          Number Joined
        </div>
        <div class="col-xs-6 col-sm-offset-2 col-sm-5 col-md-offset-0">
          Time Left
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
          Progress Bar + Join Button
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-4">
          Go or No GO
        </div>
          Number left to Go
          Number left to $$
          Number left to $
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
          Panel - Number of joiners
        </div>
    </div>
</div>
</div>
