
<div class="jumbotron" id="offerCover">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-1 col-sm-10 vcenter">
        <br />
        <br />
        <h2 class="centeralign whiteC big">
          <big>
            <b></b>
          </big>
          <br />
          <small>
          </small>
        </h2>

      </div>
    </div>
  </div>
</div>

<div class="jumbotron white">
  <div class="container" id="activeForm">
    <div class="panel panel-info">
      <div class="panel-heading ">
        <h1 class="panel-title">
        </h1>
      </div>
      <div class="panel-body">
        <div class="container">
          <div class="row">
            <div class="col-sm-offset-1 col-sm-10">
              <div align="right">
                <a href>
                  <font color="##217dbb">
                    <i class="fa fa-share-square-o">
                      </i>
                  </font>
                  <span class="blue">
                    Share
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-offset-1 col-sm-5">
              <h2>
                <font color="#217dbb">
                  Headshot Photography
                  <!--Ultimate Grilling Series Class-->
                  <!--Group Voice Workshop-->
                  <!--Painting "Starry Night" Class-->
                  <!--River North Whiskey Fest-->
                </font>
              </h2>
              <div class="panel-body">
                <h5 class="big">
                  Sign up for linkedin headshots. Great deal if we all do it together!
                  <!--It'll be so much fun to take a big family grilling class together. Sign up!-->
                  <!--Hey who's down for improving our voice skills for Follies? You know you need it!-->
                  <!--Yo Davis Cohort, let's see which Booth Cohort can bring the most rep to this!-->
                </h5>
                <h5>
                  <b>
                    Shawn T.
                      <i>
                        <small>
                          Organizer
                        </small>
                      </i>
                  </b>
                </h5>
              </div>
            </div>
            <div class="col-sm-5">
              <br />
              <div class="panel panel-info">
                <div class="panel-body">
                  <font color="##217dbb">
                    <i class="fa fa-calendar">
                    </i>
                  </font>
                  Sun, Jan 29th, 2017 |
                  <i>
                  2:00pm
                  </i>
                </div>
              </div>
              <div class="panel panel-info">
                <div class="panel-body">
                  <font color="##217dbb">
                    <i class="fa fa-map-marker">
                    </i>
                  </font>
                    <b>
                      312 Elements
                      <!--Kendall College-->
                      <!--Davin Youngs Voice-->
                      <!--Arts N Spirits-->
                      <!--Moe's Cantina-->
                    </b>
                     | 212 N Sangamon St, Chicago, IL
                     <!--900 N. Branch St., Chicago, IL-->
                     <!--410 South Michigan Avenue, No. 540, Chicago-->
                     <!--1921 N Damen Ave, Chicago, IL-->
                     <!--149 W. Kinzie St, Chicago-->
                </div>
              </div>
            </div>
          </div>
          <div class="jumbotron lightgray" id="activeJumbotron">
            <div class="row">
              <div class="col-sm-offset-1 col-sm-5">
                <div class="panel panel-info">
                  <div class="panel-heading centeralign">
                    GO Status
                  </div>
                  <div class="panel-body">
                    <div id="goStatusPanel">
                    <div class="row">
                      <div class="centeralign blue">
                        <!-- If before GO, use below:-->
                        Pending: Only 3 more to GO

                        <!-- If GO, change wording to "It's a GO!"-->

                        <!-- If failed to reach GO, change wording to
                          <span id="spotsLeftInfo">
                            Expired
                          </span>
                        -->

                      </div>
                      <hr class="activeLine">
                      </hr>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="progress progress-striped">
                          <div class="progress-bar progress-bar-custom active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                              <span class="sr-only">
                                60% Complete
                              </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-5">
                <div class="panel panel-info">
                  <div class="panel-heading centeralign">
                    Price Status
                  </div>
                  <div class="panel-body">
                    <div id="priceStatusPanel">
                      <div class="row">
                        <div class="centeralign blue">
                          Current Price: $275
                            <!--$87.50-->
                            <!--$73.25-->
                            <!--$55.00-->

                          <!-- if before GO, show the price as the goMinimum price -->
                        </div>
                        <hr class="activeLine">
                        </hr>
                      </div>
                      <div class="row">
                        <div class="centeralign darkgray">

                          <!-- if before GO, use this instead:
                            If group hits GO, then price <br>
                            may decrease for everyone <br>
                            as each new person joins
                           -->

                          <!-- if after GO, use below-->
                          If you join, price will decrease to <br>
                          <span class="blue">
                            <!--$210-->
                            <!--$86.40-->
                            <!--$73.10-->
                            $270.25
                          </span> <br>
                          <!-- if max discount reached, add "(lowest group price acheived)" next to price -->
                          for everyone

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-offset-1 col-sm-5">
                <div class="panel panel-success">
                  <div class="panel-heading centeralign">
                    <i class="fa fa-clock-o">
                    </i>
                    <i>
                      <!-- If before GO use below: -->
                      12 hrs, 13 mins left to hit GO

                      <!-- If GO, delete the "to hit GO" part-->

                      <!-- If near Cap
                        <span id="spotsLeftInfo">
                           5 spots left
                        </span>
                      -->

                      <!-- If Cap reached
                        <span id="spotsLeftInfo">
                           Max Reached
                        </span>
                      -->

                    </i>
                  </div>
                  <div class="panel-body">
                    <div id="joinStatusPanel">
                      <div class="row">
                        <div class="col-sm-12 centeralign">
                          <button type="button" class="btn btn-success btn-xlarge" id="joinButton">
                            <large>
                              JOIN
                            </large>
                          </button>
                        </div>
                      </div>
                      <div align="center">
                        <h6 class="darkgray centeralign big">
                          You'll only be charged if it's a GO. <br> If GO, you'll pay the <u>lowest</u> group price achieved.
                        </h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-5">
                <div class="panel panel-info">
                  <div class="panel-heading centeralign">
                    5 Joined
                  </div>
                  <div class="panel-body" id="joinedPanel">
                    <div class="row">
                      <div class="col-sm-12 centeralign">
                        <table class="popupTable table table-striped">
                          <tr>
                            <td>Marilyn J.</td>
                          </tr>
                          <tr>
                            <td>Rose B.</td>
                          </tr>
                          <tr>
                            <td>Mark E.</td>
                          </tr>
                          <tr>
                            <td>Sally C.</td>
                          </tr>
                          <tr>
                            <td>Matt C.</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

