<html>
  <head>
  <link rel="stylesheet" href="/stylesheets/about.css">
    <script src="js/wow.mis.js"></script>
    <script>
      new WOW().init();
    </script>
  </head>

<body>

<div class="container-fluid" id="pressCover">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10 vcenter">
    </div>
  </div>
</div>

<div class="jumbotron white">
  <div class="container">
    <div class="row centeralign">
      <div class="col-sm-offset-2 col-sm-2">
        <h4 id="blogItem">
          <a class="darkgray" href="/blog">
             <i class="fa fa-lightbulb-o"></i> <span class="darkgray">Ideas</span>
          </a>
        </h4>

      </div>
      <div class="col-sm-2">
        <h4 id="blogItem">
          <a class="darkgray" href="/blog">
             <i class="fa fa-book"></i> <span class="darkgray">Personal</span>
          </a>
        </h4>
      </div>
      <div class="col-sm-2">
        <h4 id="blogItem">
          <a class="darkgray" href="/blog">
             <i class="fa fa-bolt"></i> <span class="darkgray">Featured</span>
          </a>
        </h4>
      </div>
      <div class="col-sm-2">
        <h4 id="blogItem">
          <a class="darkgray" href="/blog">
             <i class="fa fa-newspaper-o"></i> <span class="darkgray">News</span>
          </a>
        </h4>
      </div>
    </div>
    <br />
    <hr class="greenline">
    </hr>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-9">


      <h4 class="darkergray">
        The “If Only” Moment
      </h4>
      <h5 class="darkgray">
        March 17th, 2016 by
        <span class="blue">
          Shawn Thomas
        </span>
      </h5>
      <br />
        <img src="/images/blog1.jpg" class="img-responsive" alt="Blog1">
      <br />
      <p class="darkgray big">
        Isaac Asimov once said, “the most exciting phrase to hear in science, the one that heralds new discoveries, is not “Eureka” but “that’s funny…” I feel like for startups the most exciting phrase is “if only…”
      </p>
      <br />
      <button type="button" class="btn btn-primary" id="readButton">Read More >></button>
      <br />
      <br />
      <hr id="mainBlogHR">
      </hr>
      <br />
      <br />

      <h4 class="darkergray">
        The Three Jings
      </h4>
      <h5 class="darkgray">
        March 24th, 2016 by
        <span class="blue">
          Shawn Thomas
        </span>
      </h5>
      <br />
        <img src="/images/blog2.jpg" class="img-responsive" alt="Blog1">
      <br />
      <p class="darkgray big">
        Having an idea is the easy part; figuring out what to do with an idea is the hard part...
      </p>
      <br />
      <button type="button" class="btn btn-primary" id="readButton">Read More >></button>
      <br />
      <br />


    </div>
    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-body lightgray centeralign">
          <h4 class="darkergray">
            Subscribe
          </h4>
          <br />
          <input type="text" class="form-control" placeholder="Email*" aria-describedby="Email">
          <br />
          <button type="button" class="btn btn-success" id="subscribeButton">Send me updates</button>
        </div>
      </div>
      <h3 class="centeralign">
        <a class="darkgray" href=""><i class="fa fa-facebook-official"></i></a>
        &nbsp;
        <a class="darkgray" href="https://twitter.com/hykuHQ"><i class="fa fa-twitter-square"></i></a>
      </h3>
      <br />
      <hr id="blogHR">
      </hr>
      <br />
      <h4 class="centeralign darkergray">
        About Hyku
      </h4>
      <p class="big leftalign darkgray">
        Do fun things together without all the pains of organizing. With one hyku link, enjoy group dinners, adventures, shows, classes, and more.
      </p>
      <br />
      <br />
      <hr id="blogHR">
      </hr>
      <br />
      <br />
      <div class="panel panel-default">
        <div class="panel-body lightgray centeralign">
          <h4 class="darkergray">
            Find cool events
          </h4>
          <br />
          <input type="text" class="form-control" placeholder="What are you looking for?" aria-describedby="Search Inputs">
          <br />
          <input type="text" class="form-control" placeholder="Where?" aria-describedby="Search Location">
          <br />
          <button type="button" class="btn btn-success" id="subscribeButton">Get Started</button>
        </div>
      </div>

    </div>
  </div>
</div>






<%= render 'footer' %>

</body>

</html>
