<html>
  <head>
  <link rel="stylesheet" href="/stylesheets/contact.css">
    <script src="js/wow.mis.js"></script>
    <script>
      new WOW().init();
    </script>
  </head>

<body>

<div class="container-fluid" id="pressCover">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10 vcenter">
    </div>
  </div>
</div>

<div class="jumbotron white">
  <div class="container">
    <div class="row">
      <h2 class="blue big centeralign">
          Contact Us
      </h2>
      <br />
      <hr>
      </hr>
      <div id="contactStatement" class="centeralign">
        <h4 class = "darkgray big">
          We hope to be launching our service soon. Until then, if you have any questions or wish to partner, please contact us.
        </h4>
      </div>
      <br />
    </div>


    <div class="row" id="contactGeneralPanel">
      <table class="centeralign" style="width:100%">
        <tr>
          <td id="contactLeftPanel" class="darkergray">
              General Inquiries
          </td>
          <td id="contactRightPanel"><span class="darkgray" id="contactEmailFont">EMAIL</span><div class="darkergray">support@hyku.io</div></td>
        </tr>
      </table>
    </div>
    <br />
    <div class="row" id="contactGeneralPanel">
      <table class="centeralign" style="width:100%">
        <tr>
          <td id="contactLeftPanel" class="darkergray">I'm a customer</td>
          <td id="contactRightPanel"><span class="darkgray" id="contactEmailFont">EMAIL</span><div class="darkergray">happycustomers@hyku.io</div></td>
        </tr>
      </table>
    </div>
    <br />
    <div class="row" id="contactGeneralPanel">
      <table class="centeralign" style="width:100%">
        <tr>
          <td id="contactLeftPanel" class="darkergray">I'm a business</td>
          <td id="contactRightPanel"><span class="darkgray" id="contactEmailFont">EMAIL</span><div class="darkergray">partners@hyku.io</div></td>
        </tr>
      </table>
    </div>
    <br />
    <br />
    <br />
  </div>
</div>





<%= render 'footer' %>



</body>

</html>
