<html>
  <head>
  <link rel="stylesheet" href="/stylesheets/about.css">
    <script src="js/wow.mis.js"></script>
    <script>
      new WOW().init();
    </script>
  </head>

<body>

<div class="jumbotron" id="discoverCover">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-1 col-sm-10 vcenter">
        <br />
        <br />
        <h2 class="centeralign whiteC big">
          <big>
            <b>Explore Chicago</b>
          </big>
        </h2>
        <br />
        <br />
        <form id="partnerC1" class="widthRestraint">
          <div class="form-group col-xs-12 centeralign">
            <div class="dropdown">
              <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Filter Events
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Classes</a></li>
                <li><a href="#">Food</a></li>
                <li><a href="#">Thrills</a></li>
                <li><a href="#">Shows</a></li>
                <li><a href="#">Tours</a></li>
                <li><a href="#">Rentals</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Show All</a></li>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron white">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-default" id="merchantPanel">
          <div class="panel-body" id="merchantImage">
            <a href="">
              <img src="/images/partnerCover.jpg" class="img-responsive" alt="Active">
            </a>
            <h5 class="big" id="merchantTextHover">
              <a class="black" href="">
                Whole Goat Roast
                  <span class="blue">
                    @
                  </span>
                   FRONTIER
              </a>
            </h5>

            <h5 class="darkgray big">
              Lincoln Park
              <br /><br />
              Short Description but same panel size - victory
              <br />
            </h5>
          </div>
          <div class="panel-footer lightgray">
            <h5 class="blue big">
              $65➔$35 pp
            </h5>
            <h6 class="darkgray big">
              <i class="fa fa-user"></i> 8-30+ | 2 hrs
            </h6>
          </div>
        </div>


        <br />

        <div class="panel panel-default" id="merchantPanel">
          <div class="panel-body" id="merchantImage">
            <a href="">
              <img src="/images/partnerCover.jpg" class="img-responsive" alt="Active">
            </a>
            <h5 class="big" id="merchantTextHover">
              <a class="black" href="">
                Whole Goat Roast
                  <span class="blue">
                    @
                  </span>
                   FRONTIER
              </a>
            </h5>
            <h5 class="darkgray big">
              Lincoln Park
              <br /><br />
              Feast on a 9 lb whole roasted goat, marinated in a whisky brine for 12 hours, plus 3 succulent sides
              <br />
            </h5>
          </div>
          <div class="panel-footer lightgray">
            <h5 class="blue big">
              $65➔$35 pp
            </h5>
            <h6 class="darkgray big">
              <i class="fa fa-user"></i> 8-30+ | 2 hrs
            </h6>
          </div>
        </div>

      </div>
      <div class="col-sm-4">
        <div class="panel panel-default" id="merchantPanel">
          <div class="panel-body" id="merchantImage">
            <a href="">
              <img src="/images/partnerCover.jpg" class="img-responsive" alt="Active">
            </a>
            <h5 class="big" id="merchantTextHover">
              <a class="black" href="">
                Whole Goat Roast
                  <span class="blue">
                    @
                  </span>
                   FRONTIER
              </a>
            </h5>
            <h5 class="darkgray big">
              Lincoln Park
              <br /><br />
              Feast on a 9 lb whole roasted goat, marinated in a whisky brine for 12 hours, plus 3 succulent sides
              <br />
            </h5>
          </div>
          <div class="panel-footer lightgray">
            <h5 class="blue big">
              $65➔$35 pp
            </h5>
            <h6 class="darkgray big">
              <i class="fa fa-user"></i> 8-30+ | 2 hrs
            </h6>
          </div>
        </div>

        <br />

        <div class="panel panel-default" id="merchantPanel">
          <div class="panel-body" id="merchantImage">
            <a href="">
              <img src="/images/partnerCover.jpg" class="img-responsive" alt="Active">
            </a>
            <h5 class="big" id="merchantTextHover">
              <a class="black" href="">
                Whole Goat Roast
                  <span class="blue">
                    @
                  </span>
                   FRONTIER
              </a>
            </h5>
            <h5 class="darkgray big">
              Lincoln Park
              <br /><br />
              Feast on a 9 lb whole roasted goat, marinated in a whisky brine for 12 hours, plus 3 succulent sides
              <br />
            </h5>
          </div>
          <div class="panel-footer lightgray">
            <h5 class="blue big">
              $65➔$35 pp
            </h5>
            <h6 class="darkgray big">
              <i class="fa fa-user"></i> 8-30+ | 2 hrs
            </h6>
          </div>
        </div>

      </div>
      <div class="col-sm-4">
        <div class="panel panel-default" id="merchantPanel">
          <div class="panel-body" id="merchantImage">
            <a href="">
              <img src="/images/partnerCover.jpg" class="img-responsive" alt="Active">
            </a>
            <h5 class="big" id="merchantTextHover">
              <a class="black" href="">
                Whole Goat Roast
                  <span class="blue">
                    @
                  </span>
                   FRONTIER
              </a>
            </h5>
            <h5 class="darkgray big">
              Lincoln Park
              <br /><br />
              Feast on a 9 lb whole roasted goat, marinated in a whisky brine for 12 hours, plus 3 succulent sides
              <br />
            </h5>
          </div>
          <div class="panel-footer lightgray">
            <h5 class="blue big">
              $65➔$35 pp
            </h5>
            <h6 class="darkgray big">
              <i class="fa fa-user"></i> 8-30+ | 2 hrs
            </h6>
          </div>
        </div>


        <br />

        <div class="panel panel-default" id="merchantPanel">
          <div class="panel-body" id="merchantImage">
            <a href="">
              <img src="/images/partnerCover.jpg" class="img-responsive" alt="Active">
            </a>
            <h5 class="big" id="merchantTextHover">
              <a class="black" href="">
                Whole Goat Roast
                  <span class="blue">
                    @
                  </span>
                   FRONTIER
              </a>
            </h5>
            <h5 class="darkgray big">
              Lincoln Park
              <br /><br />
              Feast on a 9 lb whole roasted goat, marinated in a whisky brine for 12 hours, plus 3 succulent sides
              <br />
            </h5>
          </div>
          <div class="panel-footer lightgray">
            <h5 class="blue big">
              $65➔$35 pp
            </h5>
            <h6 class="darkgray big">
              <i class="fa fa-user"></i> 8-30+ | 2 hrs
            </h6>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<%= render 'footer' %>

</body>

</html>
