<html>
  <head>
  <link rel="stylesheet" href="/stylesheets/about.css">
    <script src="js/wow.mis.js"></script>
    <script>
      new WOW().init();
    </script>
  </head>

<body>




<%= render 'footer' %>

</body>

</html>
