<html>
<head>
  <script src="js/wow.mis.js"></script>
  <script>
    new WOW().init();
  </script>
</head>

<body>
  <!--begin bg-carousel-->
  <div id="bg-fade-carousel" class="carousel slide carousel-fade" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <div class="slide1"></div>
      </div>

    </div><!-- .carousel-inner -->
    <div class="container carousel-overlay text-center">
      <font color="white">
        <h1 class="textshadow animated fadeInUp">The Rubrics and Badging Platform</h1>
        <p class="lead textshadow animated fadeInUp">(Just a placeholder - keep original homepage here)</p>
        <br />
        <a class="btn btn-xlarge btn-started btn-success fp-buttons animated fadeInUp delay1sec" href="#">
          Get Started
        </a>
        <br />
        <br />
        <br />
        <h1><i class="fa fa-angle-down"></i></h1>
      </font>
    </div>
  </div><!-- .carousel -->
  <!--end bg-carousel-->

  <div class="jumbotron lightgray">
    <div class="container lightgray">

      <div class="row">
        <div id="headings" class="col-sm-12">
          <br />
          <h2>
            A row of linked images of publications that have praised ForAllRubrics
          </h2>
          <br />

          <hr class="greenline">
        </hr>

        <h4 class = "darkgray">

        </h4>

        <br />
        <br />
        <br />

        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <br />
    <br />
</div>

<div class="container">

  <div class="row">

    <div id = "howWorksR1C1" class="col-sm-6">
      <h2 class="blue">
        Fully Customizable Rubrics
      </h2>
      <br />
      <h4 class="darkgray">
        <p class="big">
          From English Teachers to PE Teachers to even .... , our rubrics can be customized to fulfill your assessment needs - in any language.
        </p>
      </h4>
      <br />
      <br />
    </div>

    <div class="col-sm-6">
            <div id = "howWorksR1C2">
            <img src="/images/classes.png" class="img-responsive wow fadeInUp animated centeralign" alt="Classes">
            <p class="wow fadeInUp animated">

            </p>
          </div>
    </div>
  </div>

  <br />
  <br />

  <div class="row">

    <div id="howWorksR2C2" class="col-sm-6 col-sm-push-6">
      <h2 class="blue widthRestraint">
        Powerful Data Analytics
      </h2>
      <br />
      <h4 class="darkgray">
        <p class="big widthRestraint">
          Description on Data Analytics and Charting ability
          <br />
          <br />

        </p>
      </h4>
    </div>

    <div id = "howWorksR2C1" class="col-sm-6 col-sm-pull-6">
            <img src="/images/classes.png" class="img-responsive wow fadeInUp animated centeralign" alt="Classes">
    </div>

  </div>

  <br />
  <br />

  <div class="row">

    <div id = "howWorksR1C1" class="col-sm-6">
      <h2 class="blue">
        Offline Access
      </h2>
      <br />
      <h4 class="darkgray">
        <p class="big">
          You don't need to be online to use ForAllRubrics. Grade off the grid from anywhere and simply sync up the results when you get back online.
        </p>
      </h4>
      <br />
      <br />
    </div>

    <div class="col-sm-6">
            <div id = "howWorksR1C2">
            <img src="/images/classes.png" class="img-responsive wow fadeInUp animated centeralign" alt="Classes">
            <p class="wow fadeInUp animated">

            </p>
          </div>
    </div>
  </div>
<br />
<br />
<br />
<br />
</div>

<div id="join" class="jumbotron lightgray">
  <div class="container centeralign">
    <div class="row">
      <div id="headings" class="col-sm-12">
        <br />

        <h2>
          More Features
        </h2>
        <br />

        <hr class="greenline">
      </hr>

      <h4 class = "darkgray">
      </h4>
      <br />
      <br />
      <br />

    </div>
  </div>
  <div id="features" class="row centeralign">
    <div id="howWorksR4C1" class="col-sm-4">
      <h1>
        <i class="fa fa-whatsapp blue"></i>
      </h1>
      <b class="green">
        Complementary Badging
      </b>
      <br />
      <h5 class="big">
        Short description
      </h5>
      <br />
    </div>

    <div id="howWorksR4C2" class="col-sm-4">
      <h1>
        <i class="fa fa-line-chart blue"></i>
      </h1>
      <b class="green">
        EQ Assessments
      </b>
      <br />
      <h5 class="big">
        Short description
      </h5>
      <br />
    </div>

    <div id="howWorksR4C2" class="col-sm-4">
      <h1>
        <i class="fa fa-ticket blue"></i>
      </h1>
      <b class="green">
        Import Student Lists
      </b>
      <br />
      <h5 class="big">
        Get started by importing your student lists via excel or enter names manually
      </h5>
      <br />
    </div>
  </div>
  <div id="features" class="row centeralign">
    <div id="howWorksR4C1" class="col-sm-4">
      <h1>
        <i class="fa fa-comments blue"></i>
      </h1>

      <b class="green">
        Add Comments
      </b>
      <br />
      <h5 class="big">
        Easily add your own comments to the graded rubrics for additional support for the students
      </h5>
    </div>
    <div id="howWorksR4C1" class="col-sm-4">
      <h1>
        <i class="fa fa-clock-o blue"></i>
      </h1>
      <b class="green">
        100s of Rubric Templates
      </b>
      <br />
      <h5 class="big">
        Don't try to reinvent the wheel, but start off with one of our beautiful rubric templates for almost every subject
      </h5>
    </div>
    <div id="howWorksR4C1" class="col-sm-4">
      <h1>
        <i class="fa fa-info-circle blue"></i>
      </h1>

      <b class="green">
        Customize for Auto-Notifications
      </b>
      <br />
      <h5 class="big">
        Easily customize your rubrics to auto-email parents or students once the rubrics are graded.
      </h5>
    </div>
  </div>
</div>
</div>



<div class="jumbotron white">
  <div class="container white">

    <div class="row">
      <div id="headings" class="col-sm-12">
        <br />
        <h2>
          Sign up your school or district to access our premium features
        </h2>
        <br />

        <hr class="greenline">
      </hr>
      <br/>
      <h4 class = "darkgray">
                    <a class="center btn btn-xlarge btn-started btn-success fp-buttons animated fadeInUp delay1sec" href="#">
          Learn More
        </a>
      </h4>

      <br />

    </div>
  </div>

  <div class="row">
    <div id="todolist" class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-body white">

          <BLOCKQUOTE>
            <UL class = "icon">
              <li class = "check wow fadeInUp animated blue"> Score with rubrics, checklists and badges </li>
              <li class = "check wow fadeInUp animated blue"> View classroom performance and communicate with students </li>
              <li class = "check wow fadeInUp animated blue"> Student accounts with peer and self assessment </li>
              <li class = "check wow fadeInUp animated blue">Classroom and student standards-based reports</li>
              <li class = "wow fadeInUp animated blue"> </li>
              <li class = "wow fadeInUp animated blue"> </li>

            </UL>
          </BLOCKQUOTE>

        </div>
      </div>
    </div>
  </div>
</div>
</div>


</div>
<%= render 'footer' %>

</body>


</html>




<!-- Core JavaScript -->
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>















