<html>
  <head>
  <link rel="stylesheet" href="/stylesheets/help.css">
  </head>

<body>

<div class="container-fluid" id="pressCover">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10 vcenter">
    </div>
  </div>
</div>

<div class="jumbotron white">
  <div class="container">
    <div class="row">
      <h2 class="darkgray big centeralign">
          Help Center
      </h2>
    </div>
    <br />
    <br />
    <div class="row">
      <div class="col-xs-3">
        <ul class="nav nav-pills nav-stacked">
          <li role="presentation" class="active"><a href="#tab_a" class="blue" data-toggle="pill">For Customers</a></li>
          <li role="presentation"><a href="#tab_b" class="blue" data-toggle="pill">For Merchant Partners</a></li>
        </ul>
      </div>
      <div class="col-xs-9 tab-content">
        <div class="tab-pane active" id="tab_a">
          <h4 class="big blue">What does GO mean?</h4>
          <h5 class="big well">GO is the minimum number of people that need to sign up before the hyku expires. This number is set by the Organizer.</h5>

          <h4 class="big blue">What happens if we don’t hit GO before the time expires?</h4>
          <h5 class="big well">The hyku becomes void and no charges will be made. This way there’s no risk in trying to get a group together.</h5>

          <h4 class="big blue">What happens if we hit GO?</h4>
          <h5 class="big well">If you hit GO and time expires (or CAP is reached), then we process the payments at the lowest group price achieved. Each person in the group will be emailed a receipt and a ticket for the event.</h5>

          <h4 class="big blue">What does CAP mean?</h4>
          <h5 class="big well">The CAP is the maximum number that the business allows for each hyku group.</h5>

          <h4 class="big blue">What happens if we hit the CAP?</h4>
          <h5 class="big well">We will process the payments at the lowest group price achieved. Each person in the group will be emailed a receipt and a ticket for the event.</h5>

          <h4 class="big blue">Could I get a refund after I made a purchase?</h4>
          <h5 class="big well">If before the GO, let the organizer of your group know that you want a refund. The organizer’s contact information will be on the e-mail you received when you joined. From the organizer’s hyku account, the organizer has the ability to issue refunds to any person that joined the event.
          <br /> <br />
          If the hyku successfully hits GO, then you cannot request a refund. We’re currently working on a way you can put your ticket up for sale from within the hyku link. If someone buys it from the link, then you’ll automatically get fully reimbursed. It’s not available yet, but we hope this feature will be available in the next few months.
          </h5>

          <h4 class="big blue">Can you walk us through some examples of how this could work?</h4>
          <h5 class="big well">Sure!
            <br /> <br />
          So let’s say you create an offer to go skydiving.  It’s $99 per person.  But if you get 5 people, it’ll be $89 per person.  If you get 10 people, it’ll be $79 per person.

          But you only want to go if at least 3 of your friends can join you.

          You create an offer with the GO number at 4 (3 friends + you).

          You join the hyku, share it with your friends, and now wait for others to join.

          You have 3 days to hit the GO minimum.
            <br /> <br />
          <b>Scenario 1:  Hyku did NOT hit GO</b><br />

          If you don’t have at least 4 people in your group by time expiration, no charges will be made on the credit cards and the hyku will be voided.  No harm, no foul.
          <br /> <br />
          <b>Scenario 2:  Hyku hit GO</b><br />

          If 4 people join by time expiration then you have hit the GO. The time auto-extends and more friends are still able to join the group.

          Let’s say 11 friends join in total by the new expiration time. At this point, $79 will be charged to each person since you qualified for the group discount. A receipt and ticket will be emailed to each person.
          </h5>

          <h4 class="big blue">I have more questions. What do I do?</h4>
          <h5 class="big well">Talk to us!

          Shoot us an email at happycustomers@hyku.io. We're happy to help!
          </h5>
        </div>
        <div class="tab-pane" id="tab_b">
          <h4 class="big blue">Is there a max on how many people can sign up through one hyku group link?</h4>
          <h5 class="big well">Yes, you can set the CAP number when you create the hyku offer.</h5>

          <h4 class="big blue">Do I need to set tiered discounts?</h4>
          <h5 class="big well">It’s completely up to you what discounts - if any - you want to give. You can also give rewards instead.
          </h5>

          <h4 class="big blue">When do I get paid?</h4>
          <h5 class="big well">Once the hyku is a GO and time expires, we will process the credit card payments of the group and send you a lump sum payment within 3 business days into your bank account.</h5>

          <h4 class="big blue">What happens after a purchase has been made?</h4>
          <h5 class="big well">Once the hyku is a GO and time expires, you’ll receive an e-mail of the names and redemption codes of each customer that purchased from the hyku link. Within 3 days, you'll receive a lump sum deposit into your bank account.</h5>

          <h4 class="big blue">What if I need to change or cancel a group event that has already been purchased?</h4>
          <h5 class="big well">You can contact the organizer of the group directly to remedy the situation. If you do need to cancel the event, you can issue a refund to every member of the group by logging into the partner account page.</h5>

          <h4 class="big blue">How much does it cost to use the hyku service?</h4>
          <h5 class="big well">Hyku is a service that has elements of new customer acquisition (i.e. organizers promoting their hyku), customer marketing (i.e. hyku featured on our website and social media), customer retargeting (i.e. reminders to purchase before time expires), and customer conversion (i.e. encouraging interested customers to transact).
          <br /> <br />
          Once a hyku hits GO and time expires, we will process the credit card payments of the group, subtract our fee which is 9.4% of the payments, and send you a lump sum of the remaining balance within 3 business days.
          </h5>

          <h4 class="big blue">I have more questions. What do I do?</h4>
          <h5 class="big well">Talk to us!

          Shoot us an email at happycustomers@hyku.io. We're happy to help!
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'footer' %>



</body>

</html>
