<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <script src="js/wow.mis.js"></script>
    <script>
      new WOW().init();
    </script>
  </head>

<body>
<!--begin bg-carousel-->
<div id="bg-fade-carousel" class="carousel slide carousel-fade" data-ride="carousel">

<!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="slide1"></div>
        </div>
        <div class="item">
            <div class="slide2"></div>
        </div>
        <div class="item">
            <div class="slide3"></div>
        </div>
        <div class="item">
            <div class="slide4"></div>
        </div>
    </div><!-- .carousel-inner -->
    <div class="container carousel-overlay text-center">
      <font color="white">
        <h1 class="textshadow animated fadeInUp">Organizing Group Events?</h1>
        <p class="lead textshadow animated fadeInUp">Send one hyku link. Done.</p>
        <br />
        <a class="btn btn-xlarge btn-started btn-success fp-buttons animated fadeInUp delay1sec" href="#">
            Get Started
        </a>
        <br />
        <br />
        <br />
        <h1><i class="fa fa-angle-down"></i></h1>
      </font>
    </div>
</div><!-- .carousel -->
<!--end bg-carousel-->

<div class="container">
  <br />
  <br />
    <div class="row">
      <div id="headings" class="col-sm-12">
        <br />

          <h1>
            "Getting People Together" in the 21st century
          </h1>
        <br />

          <hr class="greenline">
          </hr>

          <h4 class = "darkgray">
            HOW HYKU WORKS
          </h4>
        <br />
        <br />
        <br />

      </div>
    </div>
</div>

<div class="container">

  <div class="row">

    <div id = "howWorksR1C1" class="col-sm-6">
      <h2 class="blue widthRestraint">
        1. Find cool things to do
      </h2>
    <br />
      <h4 class="darkgray">
        <p class="big widthRestraint">
          From whole animal dinner roasts to zombie escapes, choose from a wide range of amazing events happening in your area.
        </p>
      </h4>
    <br />
    <br />
    </div>

    <div class="col-sm-6">
      <div class="row centeralign">
        <div class="col-xs-4">
          <div id = "howWorksR1C2">
            <img src="/images/skydiving.png" class="img-responsive wow fadeInUp animated" alt="Adventures">
            <p class="wow fadeInUp animated">
              Thrills
            </p>
          </div>
        </div>

        <div class="col-xs-4">
          <div id = "howWorksR1C2">
            <img src="/images/tours.png" class="img-responsive wow fadeInUp animated centeralign" alt="Tours">
            <p class="wow fadeInUp animated">
              Tours
            </p>
          </div>
        </div>

        <div class="col-xs-4">
          <div id = "howWorksR1C2">
            <img src="/images/fooddome.png" class="img-responsive wow fadeInUp animated centeralign" alt="Food">
            <p class="wow fadeInUp animated">
              Food
            </p>
          </div>
        </div>
      </div>

      <div class="row centeralign">
        <div class="col-xs-4">
          <div id = "howWorksR1C2">
            <img src="/images/theatre.png" class="img-responsive wow fadeInUp animated centeralign" alt="Shows">
            <p class="wow fadeInUp animated">
              Shows
            </p>
          </div>
        </div>

        <div class="col-xs-4">
          <div id = "howWorksR1C2">
            <img src="/images/sailboat.png" class="img-responsive wow fadeInUp animated centeralign" alt="Rentals">
            <p class="wow fadeInUp animated">
              Rentals
            </p>
          </div>
        </div>

        <div class="col-xs-4">
          <div id = "howWorksR1C2">
            <img src="/images/classes.png" class="img-responsive wow fadeInUp animated centeralign" alt="Classes">
            <p class="wow fadeInUp animated">
              Classes
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

<br />
<br />

  <div class="row">

    <div id="howWorksR2C2" class="col-sm-6 col-sm-push-6">
      <h2 class="blue widthRestraint">
        2. Share your hyku link
      </h2>
    <br />
      <h4 class="darkgray">
        <p class="big widthRestraint">
          Book a time and specify the minimum number of people needed for the event to happen. We create a unique hyku link for you to share.
          <br />
          <br />

        </p>
      </h4>
    </div>

    <div id = "howWorksR2C1" class="col-sm-6 col-sm-pull-6">
      <p>
        <img src="/images/icon2.png" id="maxwidthicon2" class="img-responsive wow fadeInLeft animated centeralign" alt="Share Hyku Link">
      </p>
    </div>

  </div>

<br />
<br />

  <div class="row">
    <div id="howWorksR3C1" class="col-sm-6">
      <h2 class="blue">
         3. Sit back and relax
      </h2>
    <br />
      <h4 class="darkgray">
        <p class="big">
          Almost every pain point is conveniently automated:
        </p>
      </h4>
    </div>

    <div class="col-sm-6">
    </div>
  </div>

  <div class="row">
    <div id="howWorksR4C1" class="col-sm-6">

      <h1>
        <i class="fa fa-ban green"></i>
      </h1>
      <b class="green">
        Auto-cancels event
      </b>
      <br />
        and auto-reimburses if not enough people join
      <br />

      <h1>
        <i class="fa fa-unlock green"></i>
      </h1>

      <b class="green">
        Auto-unlocks group rewards or discounts
      </b>
      <br />
        as more people join
      <br />

      <h1>
        <i class="fa fa-credit-card green"></i>
      </h1>
      <b class="green">
        Collects payments
      </b>
      <br />
        and secures reservation only if enough people join
      <br />

      <h1>
        <i class="fa fa-ticket green"></i>
      </h1>
      <b class="green">
          Auto-emails tickets and event details
      </b>
      <br />
          to each person who joined the event
      <br />
      <br />
      <br />
    </div>

    <div id="howWorksR4C2" class="col-sm-6">
      <img src="/images/activesample.png" class="img-responsive wow fadeInRight animated maxwidth centeralign" alt="Active">
    </div>
  </div>
    <br />
    <br />
    <br />
    <br />
</div>



<div class="jumbotron lightgray">
  <div class="container lightgray">

    <div class="row">
      <div id="headings" class="col-sm-12">
        <br />
          <h2>
            Less time organizing, more time enjoying
          </h2>
        <br />

          <hr class="greenline">
          </hr>

          <h4 class = "darkgray">

          </h4>

        <br />
        <br />
        <br />

      </div>
    </div>

    <div class="row">
      <div id="todolist" class="col-sm-6">

          <font color="gray">
            <h2 class="centeralign">
              To-Do List
            </h2>
            <HR>
            </HR>
          <br />

            <BLOCKQUOTE>
            <UL class = "icon">
              <li class = "checkbox"> Pick an event </li>
              <li class = "checkbox"> Figure out a date that works for everyone </li>
              <li class = "checkbox"> Negotiate a group discount </li>
              <li class = "checkbox"> Collect payments from everyone </li>
              <li class = "checkbox"> Pre-pay to reserve spots </li>
              <li class = "checkbox"> Send tickets to everyone </li>
              <li class = "checkbox"> Communicate location/updates </li>
            </UL>
            </BLOCKQUOTE>
          </font>
            <br />
            <br />
        </div>

        <div id="todolist" class="col-sm-6">
          <h2 class = "centeralign wow fadeInUp animated blue">
            Using Hyku
          </h2>

          <HR class ="greenline">
          </HR>
          <br />

          <BLOCKQUOTE>
          <UL class = "icon">
            <li class = "check wow fadeInUp animated blue"> Pick an event </li>
            <li class = "check wow fadeInUp animated blue"> Share Hyku Link </li>
          </UL>
          </BLOCKQUOTE>
        </div>
    </div>
  </div>
</div>

<div class="jumbotron white">
  <div class="container">
    <div class="row">
      <div id="headings" class="col-sm-12">
        <br />
          <h2>
            Make it easy for the best organizers in Chicago to find you
          </h2>
        <br />

          <hr class="greenline">
          </hr>

          <h4 class = "darkgray">
            PARTNER WITH US
          </h4>

        <br />
        <br />
        <br />

      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <h4>
          <p id="partnerC1" class="big green widthRestraint">
            Do you offer a cool group experience?
          </p>
        </h4>
        <h3>
          <font color="gray">
            <p id="partnerC1" class="big widthRestraint">
              Join the growing list of Chicago businesses who use hyku.
              <br /><br />
              Enter your email below, and we'll set you up pronto.
            </p>
          </font>
        </h3>
      <br />
        <form id="partnerC1" class="widthRestraint">
          <div class="form-group col-xs-9">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Work Email">
          </div>
          <div class="col-xs-3">
            <button id="submitemail" type="submit" class="btn btn-success">
              <i class="fa fa-check"></i> Interested
            </button>
          </div>
        </form>
      </div>

      <div id="partnerImageColumn" class="col-sm-6">

        <div class = "col-xs-6">
          <img src="/images/artsnspirits.jpg" id="partnerImage" class="img-responsive wow fadeInRight animated top" alt="Active" onmouseover="this.src='/images/artsnspiritsback.jpg'" onmouseout="this.src='/images/artsnspirits.jpg'">

          <img src="/images/architecture.jpg" id="partnerImage" class="img-responsive wow fadeInRight animated" alt="Active" onmouseover="this.src='/images/architectureback.jpg'" onmouseout="this.src='/images/architecture.jpg'">
        </div>

        <div class = "col-xs-6">
          <img src="/images/frontier.jpg" id="partnerImage" class="img-responsive wow fadeInRight animated" alt="Active" onmouseover="this.src='/images/frontierback.jpg'" onmouseout="this.src='/images/frontier.jpg'">

          <img src="/images/worldskydiving.jpg" id="partnerImage" class="img-responsive wow fadeInRight animated" alt="Active" onmouseover="this.src='/images/worldskydivingback.jpg'" onmouseout="this.src='/images/worldskydiving.jpg'">
        </div>
      </div>

    </div>
  </div>
</div>


<div class="jumbotron white">
  <div class="container">
    <hr>
    </hr>
    <div class="row">

      <div class="col-sm-6 centeralign ">
        <br />
        <h4 class="darkgray">
          Join us on <br/>
        </h4>
        <h3 class="green">
          <a class="green" href=""><i class="fa fa-facebook-official"></i></a>
          <a class="green" href=""><i class="fa fa-twitter-square"></i></a>
        </h3>
        <br />
        <hr>
        </hr>
      </div>

      <div class="col-sm-2">
        <UL id="footer">
          <h4 class="blue">
            <li>
              Company <br/>
            </li>
          </h4>

          <h5 class="darkgray">
            <li> <a class="darkgray" href="">About</a> </li>
            <li> <a class="darkgray" href="">Press</a> </li>
            <li> <a class="darkgray" href="">Team</a> </li>
            <li> <a class="darkgray" href="">Blog</a> </li>
          </h5>
        </UL>

        <hr>
        </hr>
      </div>

      <div class="col-sm-2">
        <UL id="footer">
          <h4 class="blue">
            <li>
              Customers <br/>
            </li>
          </h4>

          <h5 class="darkgray">
            <li> <a class="darkgray" href="">How it works</a> </li>
            <li> <a class="darkgray" href="">Discover Events</a> </li>
          </h5>
        </UL>

        <br />
        <br />
        <hr>
        </hr>
      </div>

      <div class="col-sm-2">
        <UL id="footer">
          <h4 class="blue">
            <li>
              Partners <br/>
            </li>
          </h4>

          <h5 class="darkgray">
            <li> <a class="darkgray" href="">Why Partner</a> </li>
            <li> <a class="darkgray" href="">Pricing</a> </li>
          </h5>
        </UL>

        <br />
        <br />
        <hr>
        </hr>
      </div>

    </div>

    <div class="row darkgray centeralign">
    <br /><br />

        © Hyku, LLC.<br />
        <a class="darkgray" href="">Privacy Policy </a> | <a class="darkgray" href="">Terms of Use</a>

    </div>

  </div>
</div>





</body>
</html>




 <!-- Core JavaScript -->
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>















