<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <script src="js/wow.mis.js"></script>
    <script>
      new WOW().init();
    </script>
  </head>

<body>
<!--begin bg-carousel-->
<div id="bg-fade-carousel" class="carousel slide carousel-fade" data-ride="carousel">

<!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="slide1"></div>
        </div>
        <div class="item">
            <div class="slide2"></div>
        </div>
        <div class="item">
            <div class="slide3"></div>
        </div>
        <div class="item">
            <div class="slide4"></div>
        </div>
    </div><!-- .carousel-inner -->
    <div class="container carousel-overlay text-center">
      <font color="white">
        <h1 class="textshadow animated fadeInUp">Organizing Group Events?</h1>
        <p class="lead textshadow animated fadeInUp">Send one hyku link. Done.</p>
        <br />
        <a class="btn btn-xlarge btn-started btn-success fp-buttons animated fadeInUp delay1sec" href="#">
            Get Started
        </a>
        <br />
        <br />
        <br />
        <h1><i class="fa fa-angle-down"></i></h1>
      </font>
    </div>
</div><!-- .carousel -->
<!--end bg-carousel-->

<div class="container">
  <br />
  <br />
    <div class="row">
        <div class="col-sm-12">
          <br />
            <center>
            <h1>
            "Getting People Together" in the 21st century
            </h1>
            <br />
            <HR class="greenline">
            </HR>
            <h4 class = "darkgray">
              HOW HYKU WORKS
            </h4>
          <br />
          <br />
          <br />
            </center>
        </div>
    </div>
        <div class="row">
        <div class="col-sm-6 narrowmargin">
          <h2 class="blue">
            1. Find cool things to do
          </h2>
          <br />
          <h4 class="darkgray">
            <p class="big">
              From whole animal dinner roasts to zombie escapes, choose from a wide range of amazing events happening in your area.
            </p>
          </h4>
          <br />
          <br />
        </div>
        <div class="col-xs-4 col-sm-2">
          <center>
            <p><img src="/images/skydiving.png" class="img-responsive wow fadeInUp animated" alt="Adventures"></p> <p class="wow fadeInUp animated">Adventures</p>
            <p><img src="/images/fooddome.png" class="img-responsive wow fadeInUp animated" alt="Restaurants"></p> <p class="wow fadeInUp animated">Restaurants</p>
          </center>
        </div>
        <div class="col-xs-4 col-sm-2">
          <center>
            <p><img src="/images/tours.png" class="img-responsive wow fadeInUp animated" alt="Tours"></p> <p class="wow fadeInUp animated">Tours</p>
            <p><img src="/images/theatre.png" class="img-responsive wow fadeInUp animated" alt="Shows"></p><p class="wow fadeInUp animated">Shows</p>
          </center>
        </div>
        <div class="col-xs-4 col-sm-2">
          <center>
            <p><img src="/images/sailboat.png" class="img-responsive wow fadeInUp animated" alt="Rentals"></p> <p class="wow fadeInUp animated">Rentals</p>
            <p><img src="/images/classes.png" class="img-responsive wow fadeInUp animated" alt="Classes"></p><p class="wow fadeInUp animated">Classes</p>
          </center>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-6 col-sm-push-6">
          <h2 class="blue">
            2. Share your hyku link
          </h2>
          <br />
          <h4 class="darkgray">
            <p class="big">
              Book a time and specify the minimum number of people needed for the event to happen. We create a unique hyku link for you to share.
            </p>
          </h4>
        </div>
        <div class="col-sm-6 col-sm-pull-6 narrowmargin">
          <center>
            <p><img src="/images/icon2.png" class="img-responsive wow fadeInLeft animated maxwidthicon2" alt="Share Hyku Link"></p>
          </center>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
          <h2 class="blue">
             3. Sit back and relax
          </h2>
          <br />
          <h4 class="darkgray">
            <p class="big">
              Almost every pain point is conveniently automated:
            </p>
          </h4>
        </div>
        <div class="col-sm-6">
        </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h1>
          <center>
            <i class="fa fa-ban green"></i>
          </center>
        </h1>
        <center>
          <b class="green">Auto-cancels event</b>
        </center>
        <center>
          and auto-reimburses if not enough people join
        </center>
        <br />
        <h1>
          <center>
            <i class="fa fa-unlock green"></i>
          </center>
        </h1>
          <center>
            <b class="green">Auto-unlocks group rewards or discounts</b>
          </center>
          <center>
            as more people join
          </center>
        <br />
        <h1>
          <center>
            <i class="fa fa-credit-card green"></i>
          </center>
        </h1>
        <center>
          <b class="green">
            Collects payments
          </b>
        </center>
        <center>
          and secures reservation only if enough people join
        </center>
        <br />
        <h1>
          <center>
            <i class="fa fa-ticket green"></i>
          </center>
        </h1>
          <center>
            <b class="green">
              Auto-emails tickets and event details
            </b>
          </center>
          <center>
            to each person who joined the event
          </center>
        <br />
        <br />
        <br />
      </div>
      <div class="col-sm-6">
        <center>
          <img src="/images/activesample.png" class="img-responsive wow fadeInRight animated maxwidth" alt="Active">
        </center>
      </div>
    </div>
    <br />
    <br />
    <br />
    <br />
</div>



<div class="jumbotron lightgray">
  <div class="container lightgray">
    <div class="row">
        <div class="col-sm-12">
          <br />
            <center>
            <h2>
            Less time organizing, more time enjoying
            </h2>
          <br />
            <HR class="greenline">
            </HR>
          <br />
          <br />
            </center>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
          <center>
          <font color="gray">
            <h2>
              To-Do List
            </h2>
            <HR>
            </HR>
          <br />
          </center>
          </font>
            <BLOCKQUOTE>
            <UL class = "icon">
              <li class = "checkbox"> Pick an event </li>
              <li class = "checkbox"> Figure out a date that works for everyone </li>

              <li class = "checkbox"> Negotiate a group discount </li>
              <li class = "checkbox"> Collect payments from everyone </li>
              <li class = "checkbox"> Pre-pay to reserve spots </li>
              <li class = "checkbox"> Send tickets to everyone </li>
              <li class = "checkbox"> Communicate location/updates </li>
            </UL>
            </BLOCKQUOTE>
            <br />
            <br />
        </div>
        <div class="col-sm-6">
          <center>
            <font class="green">
            <h2>
              Using Hyku
            </h2>
            </font>
            <HR class ="greenline">
            </HR>
            <br />
          </center>
            <BLOCKQUOTE>
            <UL class = "icon">
              <li class = "check"> Pick an event </li>
              <li class = "check"> Share Hyku Link </li>
            </UL>
            </BLOCKQUOTE>
        </div>
    </div>
    </div>
</div>

<div class="container">
  <br />
  <br />

</div>

</body>
</html>




 <!-- Core JavaScript -->
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>















