
<html>
  <head>
  <link rel="stylesheet" href="/stylesheets/contact.css">
    <script src="js/wow.mis.js"></script>
    <script>
      new WOW().init();
    </script>

    <!-- Override Navbar to add navbarImage-->
    <%= render 'navbarImage' %>
  </head>

<body>

<div class="container-fluid" id="pressCover">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10 vcenter">
    </div>
  </div>
</div>

<div class="container">
  <br />
  <br />
    <div class="row">
      <div id="headings" class="col-sm-12">
        <br />

          <h3 class="darkergray">
            This offer is no longer available.
          </h3>
        <br />

          <hr class="greenline">
          </hr>

          <h4 class = "darkgray big">
             <br /><i>
          </h4>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

      </div>
    </div>
</div>




<%= render 'footer' %>



</body>

</html>
