<html>
  <head>
  <link rel="stylesheet" href="/stylesheets/partner.css">
    <script src="js/wow.mis.js"></script>
    <script>
      new WOW().init();
    </script>
  </head>

<body>

<div class="jumbotron" id="offerCover">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-1 col-sm-10 vcenter">
        <br />
        <br />
        <h2 class="centeralign whiteC big">
          <big>
            <b></b>
          </big>
          <br />
          <small>

          </small>
        </h2>

      </div>
    </div>
  </div>
</div>

<div class="container">
  <br />
  <br />
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-2 centeralign">
        <img src="/images/shawn.png" id="offerImage" class="img-responsive" alt="Owner">
        <p class="big">
          Chris B.
          <br />
          <small class="darkgray">
            Owner
          </small>
        </p>
      </div>
      <div class="col-md-10">
        <h3 class="big">
          Whole Goat Roast
            <span class="blue">
              @
            </span>
             FRONTIER
        </h3>
        <h5 class="darkgray">
          Lincoln Park, Chicago, IL
        </h5>
        <br />
        <br />
        <HR id="offerHR">
        </HR>
        <br />

      </div>
    </div>
    <div class="row">
      <h5 class="green">
        <b>Frontier</b>
      </h5>
      <p class="big darkgray" id="offerPadding">
        Sample foods you hadn’t thought to try or haven’t seen on a menu before. Order a giant beer from a tiny brewery. Get in touch with your pioneer roots, even if only from the comfort of your barstool. Grab your friends and ride out to the Frontier!
      </p>

      <br />
      <br />
      <HR id="offerHR">
      </HR>
      <br />

      <h5 class="green">
        <b>Whole Goat Roast</b>
      </h5>
      <p>
        <ul class="big darkgray">
          <li>9 lb whole roasted goat, marinated in a whisky brine for 12 hours</li>
          <li>Choice of two side dishes: garlic risotto, bacon-dates, or seasoned whipped potatoes</li>
          <li>Choice of two dessert options: molten lava cake, creme brule, flan</li>
        </ul>
      </p>

      <br />
      <br />
      <HR id="offerHR">
      </HR>
      <br />

      <h5 class="green">
        <b>Offer</b>
      </h5>
      <br />
        <div class="row">
          <div class="col-sm-4">
            <div class="panel panel-default">
              <div class="panel-body" id="fixedHeight">
                <h4 class="centeralign big blue">
                  8 people
                </h4>
                <h6 class="darkgray">
                  <ul class="big icon">
                    <li class="check">Whole Goat Roast Dinner</li>
                  </ul>
                </h6>
              </div>
              <div class="panel-footer">
                <h5 class="centeralign big green">
                  $42 pp
                </h5>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="panel panel-default">
              <div class="panel-body" id="fixedHeight">
                <h4 class="centeralign big blue">
                  9-15 people
                </h4>
                <h6 class="darkgray">
                  <ul class="icon big">
                    <li class="plus">2 bottles of wine for table</li>
                  </ul>
                </h6>
              </div>
              <div class="panel-footer">
                <h5 class="centeralign big green">
                  ~$36-41 pp
                </h5>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="panel panel-default">
              <div class="panel-body" id="fixedHeight">
                <h4 class="centeralign big blue">
                  16+ people
                </h4>
                <h6 class="darkgray">
                  <ul class="big icon">
                    <li class="plus">2 bottles of wine for table</li>
                    <li class="plus">1 extra dessert dish</li>
                  </ul>
                </h6>
              </div>
              <div class="panel-footer">
                <h5 class="centeralign big green">
                  $35 pp
                </h5>
              </div>
            </div>
          </div>
        </div>

      <br />
      <br />
      <HR id="offerHR">
      </HR>
      <br />

      <h5 class="green">
        <b>Location</b>
      </h5>
      <div class="row">
        <div class="col-sm-6">
          <h5 class="big darkgray">
            1072 N Milwaukee Ave
            <br />
            Chicago, IL 60642
            <br />
            (773) 772-4322
          </h5>

        </div>
        <div class="col-sm-6">
          <div id="map">
          </div>
          <script>
            function initMap() {
              var mapDiv = document.getElementById('map');
              var map = new google.maps.Map(mapDiv, {
                center: {lat: 44.540, lng: -78.546},
                zoom: 8
              });
            }
          </script>
          <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
              async defer>
          </script>
        </div>
      </div>

      <br />
      <br />
      <HR id="offerHR">
      </HR>
      <br />

      <h5 class="green">
        <b>Fine Print</b>
      </h5>
      <h5 class="darkgray">
        <ul class="big">
          <li>The total meal price is $600. The more people who join, the price auto-declines for everyone</li>
          <li>Offer must be completed in 5 days after hyku activation or 8 days before the event date, whichever is sooner</li>
          <li>Refunds given if canceled 4 days before the event date</li>
        </ul>
      </h5>
      <br />
      <br />
    </div>

  </div>
  <div class="col-md-4">
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-6">
                <h5 class="blue">
                  Min Number
                </h5>
                <input type="text" class="form-control centeralign" placeholder="1" aria-describedby="eventDate">
                <br />
                <h5 class="blue">
                  Event Date
                </h5>
                <input type="text" class="form-control centeralign" placeholder="mm/dd/yy" aria-describedby="eventDate">
              </div>
              <div class="col-sm-6">
                <h5 class="darkgray">
                  Max Number
                </h5>
                <input type="text" class="form-control centeralign" placeholder="30 people" aria-describedby="eventDate">
                <br />
                <h5 class="blue">
                  Event Time
                </h5>
                <input type="text" class="form-control centeralign" placeholder="12:00pm" aria-describedby="eventTime">
              </div>
            </div>
            <div class="row">
              <br />
              <p class="big darkgray centeralign" id="offerPadding">
               When time selected, give 3 closest time options here. If none found, display "No Times Available in System" and change "Activate" button to "Request Time" with * description
              </p>
            </div>
            <div class="row centeralign">
              <button type="button" class="btn btn-success" id="activateButton">Activate</button>
              <br />
              <br />
              <p class="big darkgray centeralign">
              *If requested time is accepted by business, you will be e-mailed the hyku link within 24 hours.
              </p>
            </div>

          </div>
        </div>
      </div>

  </div>
</div>


<!-- Footer - Separate this code out, so it's not repeating across all files -->
<div class="jumbotron white">
  <div class="container">
    <hr>
    </hr>
    <div class="row">

      <div class="col-sm-6 centeralign ">
        <br />
        <h4 class="darkgray">
          Join us on <br/>
        </h4>
        <h3 class="green">
          <a class="green" href=""><i class="fa fa-facebook-official"></i></a>
          <a class="green" href="https://twitter.com/hykuHQ"><i class="fa fa-twitter-square"></i></a>
        </h3>
        <br />
        <hr>
        </hr>
      </div>

      <div class="col-sm-2">
        <UL id="footer">
          <h4 class="blue">
            <li>
              Company <br/>
            </li>
          </h4>

          <h5 class="darkgray">
            <li> <a class="darkgray" href="">About</a> </li>
            <li> <a class="darkgray" href="">Press</a> </li>
            <li> <a class="darkgray" href="">Team</a> </li>
            <li> <a class="darkgray" href="">Blog</a> </li>
          </h5>
        </UL>

        <hr>
        </hr>
      </div>

      <div class="col-sm-2">
        <UL id="footer">
          <h4 class="blue">
            <li>
              Customers <br/>
            </li>
          </h4>

          <h5 class="darkgray">
            <li> <a class="darkgray" href="">How it works</a> </li>
            <li> <a class="darkgray" href="">Discover Events</a> </li>
          </h5>
        </UL>

        <br />
        <br />
        <hr>
        </hr>
      </div>

      <div class="col-sm-2">
        <UL id="footer">
          <h4 class="blue">
            <li>
              Partners <br/>
            </li>
          </h4>

          <h5 class="darkgray">
            <li> <a class="darkgray" href="">Why Partner</a> </li>
            <li> <a class="darkgray" href="">Pricing</a> </li>
          </h5>
        </UL>

        <br />
        <br />
        <hr>
        </hr>
      </div>

    </div>

    <div class="row darkgray centeralign">
    <br /><br />

        © Hyku, LLC.<br />
        <a class="darkgray" href="">Privacy Policy </a> | <a class="darkgray" href="">Terms of Use</a>

    </div>

  </div>
</div>



</body>

</html>
