<html>
  <head>
  <link rel="stylesheet" href="/stylesheets/offer.css">
    <script src="js/wow.mis.js"></script>
    <script>
      new WOW().init();
    </script>
  </head>

<body>

<div class="jumbotron" id="offerCover">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-1 col-sm-10 vcenter">
        <br />
        <br />
        <h2 class="centeralign whiteC big">
          <big>
            <b></b>
          </big>
          <br />
          <small>

          </small>
        </h2>

      </div>
    </div>
  </div>
</div>

<div class="container">
  <br />
  <br />
  <div class="col-md-4 col-md-push-8 centeralign" id="offerForm">
      <div class="row">
        <div class="panel panel-success">
          <div class="panel-heading">
          </div>
          <div class="panel-body">
            <form>
              <h5 class="blue">
                Organizer Information*
              </h5>
              <div class="row">
                <div class="col-sm-6">
                  <input type="text" class="form-control centeralign" placeholder="First Name" aria-describedby="organizerFirstName">
                </div>
                <div class="col-sm-6">
                  <input type="text" class="form-control centeralign" placeholder="Last Name" aria-describedby="organizerLastName">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <input type="email" class="form-control centeralign" placeholder="E-mail" aria-describedby="organizerEmail">
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-sm-12">
                  <h5 class="blue">
                    Message
                  </h5>
                  <textarea class="form-control centeralign" placeholder="Hi everyone, come on out for..." aria-describedby="message"></textarea>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-sm-6">
                  <h5 class="blue">
                    Min Number*
                    <span class="darkgray"><button type="button" class="infoButton" data-toggle="modal" data-target="#minNumberModal"><i class="fa fa-info-circle" aria-hidden="true"></i></button></span>
                  </h5>
                  <input type="text" class="form-control centeralign" placeholder="1" aria-describedby="eventDate">
                  <br />
                </div>
                <div class="col-sm-6">
                  <h5 class="darkgray">
                    Max Number
                    <span class="darkgray"><button type="button" class="infoButton" data-toggle="modal" data-target="#maxNumberModal"><i class="fa fa-info-circle" aria-hidden="true"></i></button></span>
                  </h5>
                  <input type="text" class="form-control centeralign" placeholder="30 people" aria-describedby="eventDate">
                  <br />
                </div>
              </div>
              <div class="row centeralign">
                <h5 class="darkgray">
                  Offer will expire on <span class="blue">Jun 4, 2017</span>
                </h5>
              </div>
              <br />
              <div class="row centeralign">
                <button type="button" class="btn btn-success" id="activateButton">Activate</button>
                <br />
                <br />
                <p class="big darkgray centeralign">
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
      <br />
      <br />
  </div>

  <div class="col-md-8 col-md-pull-4">
    <div class="row">
      <div class="col-md-2 centeralign">
        <img src="/images/vik.png" id="offerImage" class="img-responsive" alt="Owner">
        <p class="big darkergray">
          ArtsNSpirits
          <br />
        </p>
      </div>
      <div class="col-md-10 centeralign" id="marginAuto">
        <h1 class="big blue">
            <!--Ultimate Grilling Series Class-->
            <!--Group Voice Workshop-->
            <!--Interior Architecture Tour-->
            Paint "Starry Night" Class
        </h1>
        <br />
        <div class="row">
          <div class="col-xs-4 rightalign">
            <h4>
              <span class="blue">
                <i class="fa fa-calendar">
                </i>
              </span>
            </h4>
          </div>
          <div class="col-xs-8 leftalign">
            <h4 class="darkergray big">
              Saturday
              <br />
              June 5, 2017
              <br />
              7:00pm - 9:00pm CST
            </h4>
          </div>
          <div class="col-xs-4 rightalign">
            <h4>
              <span class="blue">
                <i class="fa fa-map-marker">
                </i>
              </span>
            </h4>
          </div>
          <div class="col-xs-8 leftalign">
            <h4 class="darkergray big">
              McCormick Place
              <br />
              123 Totally Real Pl
              <br />
              Suite 100
              <br />
              Chicago, IL 60601
            </h4>
          </div>
        </div>
        <br />
          <HR id="offerHR">
          </HR>
        <br />
    </div>
  </div>
    <div class="row">
      <h5 class="green">
        <b>
          <!--312 Elements-->
          <!--Kendall College-->
          <!--Davin Youngs Voice-->
          <!--Chicago Detours-->
          Arts N Spirits
        </b>
      </h5>
      <p class="big darkgray" id="offerPadding">
        <!--Explore Kendall’s unique and exciting recreational classes for adults. Classes are offered at three different skill levels. Unique class options include girls night out, food blogging, ultimate grilling, mixology, catering, pie baking techniques, date nights and intense boot camp series. Each class will give you the opportunity to hone new skills from knife cuts, baking, sautéing and braising to utilizing local ingredients and integrating farmers’ market picks into your everyday recipes. Class dates and times vary.-->

        <!--We offer a series of meaningful voice workshops that allow amateur and professional voice users to learn in community. Our workshops take each group into a safe, fun and exciting space of exploration and growth. Whether the topic be singing technique, song-writing, performance practice or acting, participants will be offered tools for practical application and will walk away feeling educated and invigorated. Oh, we also emphasize fun!-->

        <!--Your family, student, or corporate group will experience Chicago’s best architecture, history and culture with our private tours. Our fun, cultural and educational walking tours and bus tours bring groups to interact with each other, urban space, and archival audio-visual media. Our active explorations visit downtown Chicago or Chicago neighborhoods. For private tours, we can accommodate groups of 1 to 225 guests.-->


        <!--Our digital headshot session was created with the intent to create a custom marketing tool that will not only capture the attention of professionals in your industry, but also give your career a push in the right direction. The 312elements headshot is a creative experience that relies heavily on expression. We pride ourselves on working with each client to find the best and most flattering angles, giving you a photo that helps you feel confident.-->


        <!--
        Sample foods you hadn’t thought to try or haven’t seen on a menu before. Order a giant beer from a tiny brewery. Get in touch with your pioneer roots, even if only from the comfort of your barstool. Grab your friends and ride out to the Frontier!-->

        Here at Arts n Spirits, we want to make the creation and enjoyment of art accessible to those who believe they have little or no artistic talent. We want to replace the technical aspects of art instruction with a fun, relaxed and stress-free environment where your creative side can flourish and you might become aware of abilities you didn’t know you possessed. <br /><br />
        We look forward to welcoming you to Arts n Spirits! Hope to unleash your inner artist!
      </p>

      <br />
      <br />
      <HR id="offerHR">
      </HR>
      <br />

      <h5 class="green">
        <!--<b>Ultimate Grilling Series Class</b>-->
        <!--<b>Headshot Photography</b>-->
        <!--<b>Group Voice Workshop</b>-->
        <!--<b>Loop Interior Architecture Walking Tour</b>-->
        <b>"Starry Night" Painting Class</b>
      </h5>
      <p class="big darkgray" id="offerPadding">
        <!--Grilled to perfection. This ultimate grilling class will allow participants to cook marinated flank steak, pork tenderloin, chicken and salmon filets. Guests will also enjoy and prepare BBQ sauces and rubs, Carolina slaw and fresh cabbage salad with mint and fresh guacamole.-->

        <!--We’re taking the private session public! Think of this like a master class, but in a chill, fun and supportive environment. Davin will work with six participants in front of the group to help uncover more freedom and beauty in their singing voice.  Whether you’re an experienced singer looking to refresh your technique or a beginning singer looking to hear your voice in public for the first time,  Open Session will be an opportunity for experimentation, learning and growth.-->

        <!--This walking tour of interiors and the underground Pedway System gives a creative overview of Chicago history and architecture. Stops include Chicago’s Modernist architecture, the grand building made for the famous Marshall Field’s department store, a church in a skyscraper, and the “Chicago Picasso” sculpture. The infamous Block 37 and the spectacular Tiffany mosaics at the Cultural Center are also included. It’s rates as one of the best Chicago architecture walking tours.-->

        <!--Are you looking for corporate headshot photography in Chicago? As trends continue to push people online for networking, the corporate headshot is more important than ever. From social networking sites like Linked-In and Twitter to corporate websites, a professional headshot is a great way to build a lasting impression online. Do yourself a favor and let me help you stand out in crowd.-->

        <!--
        <ul class="big darkgray">
          <li>9 lb whole roasted goat, marinated in a whisky brine for 12 hours</li>
          <li>Choice of two side dishes: garlic risotto, bacon-dates, or seasoned whipped potatoes</li>
          <li>Choice of two dessert options: molten lava cake, creme brule, flan</li>
        </ul>
        -->

        Looking for a way to explore your artistic side but don't know where to start? Arts n Spirits is Chicago's newest venue for an entertaining evening out on the town. It's the perfect place to get together with friends and family to relax, unwind, and enjoy time painting together while sipping your favorite beverage (BYOB). Whether you consider yourself an artist or have never painted before, our instructor will guide you through the featured painting of the evening... and at the end of the night, you'll go home with your own unique painting!



      </p>

      <br />
      <br />
      <HR id="offerHR">
      </HR>
      <br />

      <h5 class="green">
        <b>Price</b>
      </h5>
      <br />
      <div class="row">
          <input id="ex6" type="text" data-slider-min="1" data-slider-max="10" data-slider-step="1" data-slider-value="3"/>
          <span id="ex6CurrentSliderValLabel">Current Slider Value: <span id="ex6SliderVal">3</span></span>

      </div>














        <div class="row">
          <div class="col-sm-4">
            <div class="panel panel-default">
              <div class="panel-body" id="fixedHeight">
                <h4 class="centeralign big blue">
                  1 person
                </h4>
                <h6 class="darkgray">
                  <div class="centeralign">
                    <div class="leftalign">
                      <ul class="big icon">
                        <li class="check">
                          <!--Corporate Headshot Photo-->
                          <!--Ultimate Grilling Series Class-->
                          <!--Group Voice Workshop-->
                          <!--Interior Architecture Tour-->
                          Paint and Sip Class
                        </li>
                      </ul>
                    </div>
                  </div>
                </h6>
              </div>
              <div class="panel-footer">
                <h5 class="centeralign big green">
                  $40 pp
                </h5>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="panel panel-default">
              <div class="panel-body" id="fixedHeight">
                <h4 class="centeralign big blue">
                  5 people
                </h4>
                <h6 class="darkgray">
                  <div class="centeralign">
                    <div class="leftalign">
                      <ul class="icon big">
                        <li class="check">
                          <!--Corporate Headshot Photo-->
                          <!--Ultimate Grilling Series Class-->
                          <!--Group Voice Workshop-->
                          <!--Interior Architecture Tour-->
                          Paint and Sip Class
                        </li>
                        <!--<li class="plus">Corporate Headshot Photo</li>-->
                      </ul>
                    </div>
                  </div>
                </h6>
              </div>
              <div class="panel-footer">
                <h5 class="centeralign big green">
                  <!--$225 pp-->
                  <!--$85 pp-->
                  <!--$70 pp-->
                  $35 pp
                </h5>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="panel panel-default">
              <div class="panel-body" id="fixedHeight">
                <h4 class="centeralign big blue">
                  10+ people
                </h4>
                <h6 class="darkgray">
                <div class="centeralign">
                  <div class="leftalign">
                    <ul class="big icon">
                      <li class="check">
                        <!--Corporate Headshot Photo-->
                        <!--Ultimate Grilling Series Class-->
                        <!--Group Voice Lessons-->
                        <!--Interior Architecture Tour-->
                        Paint and Sip Class
                      </li>
                     <!-- <li class="plus">2 bottles of wine for table</li>
                      <li class="plus">1 extra dessert dish</li>-->
                    </ul>
                  </div>
                </div>
                </h6>
              </div>
              <div class="panel-footer">
                <h5 class="centeralign big green">
                  <!--$150 pp-->
                  <!--$80 pp-->
                  <!--$65 pp-->
                  $30 pp
                </h5>
              </div>
            </div>
          </div>
        </div>
        <span class="darkgray"><small>
          *Price dynamically adjusts based on number in group
        </small></span>
      <br />
      <br />
      <HR id="offerHR">
      </HR>
      <br />

      <h5 class="green">
        <b>Location</b>
      </h5>
      <div class="row">
        <div class="col-sm-6">
          <h5 class="big">
            <!--212 Sangamon St-->
            <!--900 N. Branch St.-->
            <!--410 South Michigan Avenue, No. 540-->
            <!--The Loop-->
            <span class="darkergray">1921 N Damen Ave</span>
            <br />
            <span class="darkergray">Suite 100</span>
            <br />
            <span class="darkergray">Chicago, IL 60642</span>
            <br />
            <span class="darkgray">(773) 772-3877</span>
            <br />
            <span class="darkgray">HappyCustomers@artsnspirits.com</span>
            <br />
          </h5>

        </div>
        <div class="col-sm-6">
          <div id="map">
          </div>
          <script>
            function initMap() {
              var mapDiv = document.getElementById('map');
              var map = new google.maps.Map(mapDiv, {
                center: {lat: 44.540, lng: -78.546},
                zoom: 8
              });
            }
          </script>
          <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
              async defer>
          </script>
        </div>
      </div>

      <br />
      <br />
      <HR id="offerHR">
      </HR>
      <br />

      <h5 class="green">
        <b>Fine Print</b>
      </h5>
      <h5 class="darkgray">
        <ul class="big">
          <li>Offer must be completed 3 days before the event date</li>
          <li>No refunds given, but you can reschedule your session date if needed</li>
          <li>A third point</li>
          <!--
          <li>Once the hyku is complete, I will follow up with you to confirm the exact time you'll need to come for your session</li>
          <li>The total meal price is $600. The more people who join, the price auto-declines for everyone</li>
          <li>Offer must be completed in 5 days after hyku activation or 8 days before the event date, whichever is sooner</li>
          <li>Refunds given if canceled 4 days before the event date</li>
          -->
        </ul>
      </h5>
      <br />
      <br />
    </div>

  </div>

</div>
<br /><br /><br />

<%= render 'footer' %>

  <div class="modal fade" id="minNumberModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Min Number</h4>
        </div>
        <div class="modal-body">
          <p>Like a kickstarter, we will only charge your credit cards if at least this number of people join your group. If you don't get enough before time expires, no credit cards will be charged.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

  <div class="modal fade" id="maxNumberModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Max Number</h4>
        </div>
        <div class="modal-body">
          <p>This is the most you can have in your group. Once you reach this cap, we will process your payments. If N/A, there is no limit to the number of people that can join your group.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

</body>
<style>
var slider = new Slider("#ex6");
slider.on("slide", function(sliderValue) {
  document.getElementById("ex6SliderVal").textContent = sliderValue;
});
</style>

</html>
