<!--Contact Us Page -->

<div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
          <div class="panel panel-default" id="contactPhonePanel">
            <div class="panel-body centeralign" id="contactImage">
              <a href="">
                <h1>
                  <i class="fa fa-phone blue" id="contactIcon"></i>
                </h1>
                <br />
                <h4 class="darkergray">
                  Phone Us
                  <!-- if clicked, then change "Phone Us" to ""-->
                </h4>
                <h6 class="darkgray big">
                  Estimated Response Time:<br/>
                    5 mins
                </h6>
              </a>
            </div>

            <div class="panel-footer centeralign" id="contactPhoneFooter">
              <h5 class="darkergray">
                Mon-Fri | 8am-6pm CST
              </h5>
            </div>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="panel panel-default" id="contactEmailPanel">
            <div class="panel-body centeralign" id="contactImage">
              <a href="/email">
                <h1>
                  <i class="fa fa-envelope-o blue" id="contactIcon"></i>
                </h1>
                <br />
                <h4 class="darkergray">
                  Email Us
                </h4>
                <h6 class="darkgray big">
                  Estimated Response Time:<br/>
                   1 hour
                </h6>
              </a>
            </div>

            <div class="panel-footer centeralign" id="contactEmailFooter">
              <h4>
                Recommended
              </h4>
            </div>
          </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
