
<html>
  <head>
  <link rel="stylesheet" href="/stylesheets/contact.css">
    <script src="js/wow.mis.js"></script>
    <script>
      new WOW().init();
    </script>
  </head>

<body>

<div class="container-fluid" id="pressCover">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10 vcenter">
    </div>
  </div>
</div>

<div class="container">
  <br />
  <br />
    <div class="row">
      <div id="headings" class="col-sm-12">
        <br />

          <h1 class="darkergray">
            Page Not Found
          </h1>
        <br />

          <hr class="greenline">
          </hr>

          <h4 class = "darkgray big">
            Oops! Can't seem to find the page you're looking for. <br /><i><small>Error Code: 404</small></i>
          </h4>
        <br />
        <br />

      </div>
    </div>
</div>

<div class="jumbotron lightgray">
  <div class="container">
    <div class="row">
      <img src="/images/pageNotFound.jpg" class="img-responsive centeralign" alt="Blog1">
    </div>
  </div>
</div>







<%= render 'footer' %>



</body>

</html>
