<html>
  <head>
  <link rel="stylesheet" href="/stylesheets/partner.css">
    <script src="js/wow.mis.js"></script>
    <script>
      new WOW().init();
    </script>
  </head>

<body>

<div class="jumbotron" id="partnerCover">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-1 col-sm-10 vcenter">
        <br />
        <br />
        <h2 class="centeralign whiteC big">
          <big>
            <b>Bring pre-paid customer groups to you</b>
          </big>
        </h2>
        <br />
        <br />
        <form id="partnerC1" class="widthRestraint">
          <div class="form-group col-xs-9">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Work Email">
          </div>
          <div class="col-xs-3">
            <button id="submitemail" type="submit" class="btn btn-success">
              <i class="fa fa-check"></i> Interested
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


  <div class="container">
    <br />
    <br />
      <div class="row">
        <div id="headings" class="col-sm-12">
          <br />

            <h1>
              How Hyku Works
            </h1>
          <br />

            <hr class="greenline">
            </hr>

            <h4 class = "darkgray">
            </h4>
          <br />
          <br />
          <br />

        </div>
      </div>
      <div class="row">
          <div id="howWorks" class="col-sm-4 centeralign wow fadeInUp animated">

            <h1 class="blue">
              <i class="fa fa-pencil-square-o"></i>
            </h1>
            <h2 class="big">
              1. Create a Group Offer
            </h2>
            <h4 class="darkgray big">
              Customize a group offer template the way you want it, with auto-discounts or rewards at certain thresholds.
              <br />
              <br />
            </h4>

          </div>
          <div class="col-sm-4 centeralign wow fadeInUp animated">

            <h1 class="blue">
              <i class="fa fa-link"></i>
            </h1>
            <h2 class="big">
              2. Get Requests
            </h2>
            <h4 class="darkgray big">
              Customers can use your template to request their own group offer to organize and collect payments from their friends.
              <br />
              <br />
            </h4>

          </div>
          <div class="col-sm-4 centeralign wow fadeInUp animated">

            <h1 class="blue">
              <i class="fa fa-usd"></i>
            </h1>
            <h2 class="big">
              3. Get Paid
            </h2>
            <h4 class="darkgray big">
              Once the offer is complete, receive a lump sum payment within 3 business days.
              <br />
              <br />
            </h4>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
          </div>
      </div>
  </div>



<div class="jumbotron backgroundblue">
<div id="personalized" class="container white">
  <div class="container">
    <br />
    <br />
      <div class="row">
        <div id="headings" class="col-sm-12">
          <br />

            <h2>
              Attract the best organizers in Chicago
            </h2>
          <br />

            <hr class="greenline">
            </hr>

            <h4 class = "darkgray">
            </h4>
          <br />
          <br />
          <br />

        </div>
      </div>
  <br />
  <br />
    <div id="organizers" class="row centeralign">
      <div class="col-sm-offset-1 col-sm-5">
        <img src="/images/sarah.png" id="teamImage" class="img-responsive wow fadeInUp animated" alt="Active">
        <br />
        <br />
      </div>
      <div class="col-sm-5">
        <h4 class="darkgray big">
          This is Sarah.
          <br />
          <br />
          She loves getting people together.
          <br />
          <br />
        </h4>
        <div class="row">
          <div class="col-sm-4 wow pulse animate">
            <h3 class="blue">
              <i class="fa fa-book"></i>
            </h3>
            She researches
          </div>
          <div class="col-sm-4 wow pulse animate">
            <h3 class="blue">
              <i class="fa fa-calendar"></i>
            </h3>
            Sets up an event
          </div>
          <div class="col-sm-4 wow pulse animate">
            <h3 class="blue">
              <i class="fa fa-envelope"></i>
            </h3>
            Invites everyone
          </div>
        </div>
      </div>
    </div>
    <div id="organizers" class="row centeralign">
      <div class="col-sm-offset-1 col-sm-5">
        <h4 class="darkgray big">
          <br />
          <br />
          <br />
          <font class="blue">Power connectors</font> like Sarah are pivotal in deciding where groups go. They often use Hyku because it automates much of their work.
          <br />
        </h4>
      </div>
      <div class="col-sm-5">
        <br />
        <br />
        <br />
        <br />
        <img src="/images/activesample.png" class="img-responsive wow fadeInRight animated centeralign" width="100px" alt="Active">
        <br />
        <br />
        <br />
        <br />
      </div>
    </div>
    <div id="organizers" class="row centeralign">
      <div class="col-sm-5 col-sm-push-6">
        <h4 class="darkgray big">
          <font class="blue">Partner with Hyku</font> and market your event to these invaluable social influencers.
          <br />
          <br />
        </h4>
      </div>
      <div class="col-sm-offset-1 col-sm-5 col-sm-pull-5">
        <img src="/images/partner.png" id="teamImage" class="img-responsive wow fadeInLeft animated" alt="Active">
        <br />
        <br />
        <br />
        <br />
      </div>
    </div>
  </div>
</div>
</div>

<div id="join" class="jumbotron white">
  <div class="container centeralign">
    <div class="row">
        <div id="headings" class="col-sm-12">
          <br />

            <h2>
              Features at a Glance
            </h2>
          <br />

            <hr class="greenline">
            </hr>

            <h4 class = "darkgray">
            </h4>
          <br />
          <br />
          <br />

        </div>
    </div>
    <div id="features" class="row centeralign">
      <div id="howWorksR4C1" class="col-sm-4">
        <h1>
          <i class="fa fa-whatsapp blue"></i>
        </h1>
        <b class="green">
          Optimized for Social Media
        </b>
        <br />
          <h5 class="big">
            Customers can personalize your group offer templates and easily share them with friends through our social media integrations.
          </h5>
        <br />
      </div>

      <div id="howWorksR4C2" class="col-sm-4">
        <h1>
          <i class="fa fa-line-chart blue"></i>
        </h1>
        <b class="green">
          Monitor Progress
        </b>
        <br />
        <h5 class="big">
          View the sales activity for each active group link.   See which organizers are able to generate the most buzz, and witness the power of your reach as it happens.
        </h5>
        <br />
      </div>

      <div id="howWorksR4C2" class="col-sm-4">
        <h1>
          <i class="fa fa-ticket blue"></i>
        </h1>
        <b class="green">
            Automated Management
        </b>
        <br />
        <h5 class="big">
            Hyku streamlines the painpoints of managing big groups. Our link automates performance-based discounts, the refund process, and auto-emails tickets.
        </h5>
        <br />
      </div>
    </div>
    <div id="features" class="row centeralign">
      <div id="howWorksR4C1" class="col-sm-4">
        <h1>
          <i class="fa fa-comments blue"></i>
        </h1>

        <b class="green">
          Integrated Communication
        </b>
        <br />
        <h5 class="big">
          Post vital information to the group link and send communication to each prepaid member of the group.  Use it to send day-of reminders, links to waiver forms, or a personal welcome.
        </h5>
      </div>
      <div id="howWorksR4C1" class="col-sm-4">
        <h1>
          <i class="fa fa-clock-o blue"></i>
        </h1>
        <b class="green">
          Prompt Payment
        </b>
        <br />
        <h5 class="big">
          Once the offer is complete, we will promptly pay you as efficiently as we can, typically 2-3 business days.
        </h5>
      </div>
      <div id="howWorksR4C1" class="col-sm-4">
        <h1>
          <i class="fa fa-info-circle blue"></i>
        </h1>

        <b class="green">
          Personal Support
        </b>
        <br />
          <h5 class="big">
            We’re here to help you.  Give us a call or shoot us an email, and we can help design your initial offer and/or troubleshoot any questions you may have.  We’re here to serve.
          </h5>
      </div>
    </div>
  </div>
</div>



<div class="jumbotron backgroundblue">
  <div class="container white">
    <div class="row">
        <div id="headings" class="col-sm-12">
          <br />

            <h2>
              Simple Pricing
            </h2>
          <br />

            <hr class="greenline">
            </hr>

            <h4 class = "darkgray">
              No setup fees | No monthly fees | No hidden fees
            </h4>
          <br />
          <br />
          <br />

        </div>
    </div>
    <div id="pricingRow" class="row centeralign">
      <div class="col-sm-6">
        <div id="pricingColumnPay centeralign">
          <h4 class="darkergray">
           For Customers
          </h4>

        </div>
        <div id="pricingColumnFree" class="panel panel-default centeralign">
          <div class="panel-body">
            <h3 class="blue big">
              Free
            </h3>
            <h4 class="darkgray">
              <i>to discover and book an event</i>
            </h4>
            <br />
          </div>
        </div>
          <br />
          <br />
      </div>
      <div class="col-sm-6">
        <div id="pricingColumnPay centeralign">
          <h4 class="darkergray">
            For Merchant Partners
          </h4>
        </div>
        <div id="pricingColumnPay" class="panel panel-default centeralign">
          <div class="panel-body">
            <h3 class="blue big">
              9.84%
            </h3>
            <h4 class="darkgray">
            <i>per <u>successful</u> transaction</i>
            </h4>
            <br />
          </div>
        </div>
        <h5 id="pricingColumnPay" class="big darkgray centeralign">
          For example, if a customer group books a $1,000 event, we will deposit $990.16 into your account in 2-3 business days.
        </h5>
        <br/>
      </div>
    </div>
  </div>
</div>





<div id="join" class="jumbotron lightgray">
  <div class="container centeralign">
    <div class="row">
      <h3 class="darkgray">
        Join the list of Chicago businesses using Hyku
        <br />
        <br />
      </h3>
    </div>
    <div class="row">
        <div class="col-sm-2">
          <img src="/images/bobby.jpg" class="img-responsive wow fadeInUp animated" alt="Frontier">
        </div>
        <div class="col-sm-2">
          <img src="/images/davin.jpg" class="img-responsive wow fadeInUp animated" alt="Frontier">
        </div>
        <div class="col-sm-2">
          <img src="/images/detours.jpg" class="img-responsive wow fadeInUp animated" alt="Frontier">
        </div>
        <div class="col-sm-2">
          <img src="/images/arts.jpg" class="img-responsive wow fadeInUp animated" alt="Frontier">
        </div>
        <div class="col-sm-2">
          <img src="/images/front.jpg" class="img-responsive wow fadeInUp animated" alt="Frontier">
        </div>
        <div class="col-sm-2">
          <img src="/images/kendall.jpg" class="img-responsive wow fadeInUp animated" alt="Frontier">
        <br />
        <br />
        </div>
    </div>
  </div>
</div>

<div id="join" class="jumbotron backgroundGreen">
  <div class="container">
      <div class="row">
        <div id="headings" class="col-sm-12">
          <h3 class="centeralign">
            <font color="white">
              Request to join today
            </font>
          </h3>
          <br />
          <form id="partnerC1" class="widthRestraint">
            <div class="form-group col-xs-9">
             <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Work Email">
            </div>
            <div class="col-xs-3">
              <button id="submitemail" type="submit" class="btn btn-warning">
                <i class="fa fa-check"></i> Interested
              </button>
            </div>
          </form>
          <br />
          <br />
          <br />
          <br />
        </div>
      </div>
  </div>
</div>


<%= render 'footer' %>


</body>
</html>
