<html>
  <head>
  <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="js/wow.mis.js"></script>
    <script>
      new WOW().init();
    </script>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">Hyku</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav navbar-right">
              <li><a href="/users/sign_in">Partner with Hyku</a></li>
              <li><a href="/users/sign_up">Log In</a></li>
          </ul>
        </div>
      </div>
    </nav>


  </head>

<body>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10 vcenter">
    </div>
  </div>
</div>



<div class="jumbotron lightgray">
  <br />
  <br />
  <br />
  <div id="personalized" class="container white">
    <div class="container">
      <br />
      <br />
      <ul class="nav nav-pills nav-justified">
        <li role="presentation" class="active inactive"><a href="#newPill" aria-controls="Create a New Offer" role="tab" data-toggle="pill">Create a New Offer</a></li>
        <li role="presentation" class="inactive"><a href="#offerPill" aria-controls="Offers" role="tab" data-toggle="pill">Offers</a></li>
        <li role="presentation" class="inactive"><a href="#editPill" aria-controls="Edit Profile" role="tab" data-toggle="pill">Edit Profile</a></li>
        <li role="presentation" class="inactive"><a href="#bankPill" aria-controls="Bank Account" role="tab" data-toggle="pill">Bank Account</a></li>
      </ul>

      <div class="tab-content">
        <div id="newPill" class="tab-pane fade in active">
          <br />
          <br />
          <button type="button" class="btn btn-default">Reload</button>
          <br />
          <small id="refreshHelp" class="form-text text-muted">with previously submitted data</small>
          <br />
          <form>
            <h3 class="blue">
              Event Details
            </h3>
            <hr class="blueline">
            <div class="form-group">
              <label for="eventTitle"><h4 class="darkergray">Event Title</h4></label>
              <input type="text" class="form-control" id="eventTitle" aria-describedby="eventTitle" placeholder="Provide a short distinct name">
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="eventDate"><h4 class="darkergray">Event Date</h4></label>
                  <input type="date" class="form-control" id="eventDate" aria-describedby="eventDate" placeholder="May 12, 2017">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="eventStartTime"><h4 class="darkergray">Start Time</h4></label>
                  <input type="time" class="form-control" id="eventStartTime" aria-describedby="eventStartTime" placeholder="3:00pm">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="eventEndTime"><h4 class="darkergray">End Time</h4></label>
                  <input type="time" class="form-control" id="eventEndTime" aria-describedby="eventEndTime" placeholder="5:00pm">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="hykuExpirationDate"><h4 class="darkergray">Hyku Expiration Date</h4></label>
                  <span class="blue"><button type="button" class="infoButton" data-toggle="modal" data-target="#expirationDateModal"><i class="fa fa-info-circle" aria-hidden="true"></i></button></span>
                  <input type="date" class="form-control" id="hykuExpirationDate" aria-describedby="hykuExpirationDate" placeholder="May 5, 2017">
                </div>
              </div>
              <div class="col-sm-4">
              </div>
              <div class="col-sm-4">
              </div>
            </div>
            <h4 class="darkergray">Location</h4>
            <div class="form-group">
              <input type="text" class="form-control" id="eventVenue" aria-describedby="eventVenue" placeholder="Enter the Venue's Name">
              <input type="text" class="form-control" id="eventStreetAddress" aria-describedby="eventStreetAddress" placeholder="Street Address">
              <input type="text" class="form-control" id="eventStreetAddress2" aria-describedby="eventStreetAddress2" placeholder="Street Address 2">
              <input type="text" class="form-control" id="eventCity" aria-describedby="eventCity" placeholder="City">
              <div class="row">
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="eventState" aria-describedby="eventState" placeholder="State">
                </div>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="eventZip" aria-describedby="eventZip" placeholder="Zip Code">
                </div>
              </div>
            </div>
            <label for="coverPhoto"><h4 class="darkergray">
              Cover Photo
            </h4></label>
              <span class="blue"><button type="button" class="infoButton" data-toggle="modal" data-target="#coverPhotoModal"><i class="fa fa-info-circle" aria-hidden="true"></i></button></span>

            <div class="form-group">
              <input type="file" class="form-control-file" id="coverPhoto" aria-describedby="coverPhoto">
            </div>
            <br />
            <h3 class="blue">
              Pricing Details
            </h3>
            <hr class="blueline">

            <div class="form-group">
              <label for="individualPrice"><h4 class="darkergray">Individual Price</h4></label>
              <span class="blue"><button type="button" class="infoButton" data-toggle="modal" data-target="#individualPriceModal"><i class="fa fa-info-circle" aria-hidden="true"></i></button></span>
              <div class="row">
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="retailPrice" placeholder="Retail Price">
                </div>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="offerPrice" aria-describedby="offerPrice" placeholder="Offer Price">
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="groupPrice"><h4 class="darkergray">
                Group Price
              </h4></label>
              <span class="blue"><button type="button" class="infoButton" data-toggle="modal" data-target="#groupPriceModal"><i class="fa fa-info-circle" aria-hidden="true"></i></button></span>
              <div class="row">
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="groupSize" placeholder="Group Size">
                </div>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="groupPrice" aria-describedby="groupPrice" placeholder="Discounted Per Person Price">
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="eventPerks"><h4 class="darkergray">Perks</h4></label>
              <span class="blue"><button type="button" class="infoButton" data-toggle="modal" data-target="#perksModal"><i class="fa fa-info-circle" aria-hidden="true"></i></button></span>
              <div class="row">
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="perk1GroupSize" placeholder="For this Group Size">
                </div>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="perk1Description" aria-describedby="groupPrice" placeholder="Description of Perk">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="perk2GroupSize" placeholder="For this Group Size">
                </div>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="perk2Description" aria-describedby="groupPrice" placeholder="Description of Perk">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="perk3GroupSize" placeholder="For this Group Size">
                </div>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="perk3Description" aria-describedby="groupPrice" placeholder="Description of Perk">
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="Restrictions"><h4 class="darkergray">Restrictions</h4></label>
              <span class="blue"><button type="button" class="infoButton" data-toggle="modal" data-target="#restrictionsModal"><i class="fa fa-info-circle" aria-hidden="true"></i></button></span>
              <div class="row">
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="groupPartnerMax" placeholder="Max Group Size">
                </div>
                <div class="col-sm-6">
                </div>
              </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="finePrintDescription1" placeholder="Fine Print Description: Bullet Point 1">
                <input type="text" class="form-control" id="finePrintDescription2" aria-describedby="groupPrice" placeholder="Fine Print Description: Bullet Point 2">
                <input type="text" class="form-control" id="finePrintDescription3" aria-describedby="groupPrice" placeholder="Fine Print Description: Bullet Point 3">
            </div>

            <br />
            <h3 class="blue">
              Company Details
            </h3>
            <hr class="blueline">
            <div class="form-group">
              <label for="Partner Description"><h4 class="darkergray">Description</h4></label>
              <div class="row">
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="partnerDisplayName" aria-describedby="companyDisplayName" placeholder="Business Name">
                </div>
                <div class="col-sm-6">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <textarea class="form-control" id="partnerDescription" rows="3" placeholder="Provide a short company description"></textarea>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="businessContact"><h4 class="darkergray">Contact</h4></label>
              <div class="row">
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="partnerPhoneNumber" aria-describedby="contactPhoneNumber" placeholder="Phone Number">
                </div>
                <div class="col-sm-6">
                  <input type="email" class="form-control" id="partnerEmail" aria-describedby="contactEmail" placeholder="E-mail">
                </div>
              </div>
            </div>
            <br />
            <button type="submit" class="btn btn-success btn-large">Submit</button>
          </form>
          <br />
          <br />
        </div>

        <div id="offerPill" class="tab-pane fade">
          <br />
          <br />
            <div class="container">
              <div class="panel panel-default dashboardPanel">
                <div class="panel-body">
                  <div class="container">
                    <div class="row">
                      <div class="col-xs-12">
                        <h4 class="blue">
                          Created Offers
                        </h4>
                        <br />
                        <div class="scrollit">
                          <table class="table table-bordered table-striped table-hover table-responsive centeralign">
                            <col width="25%">
                            <col width="25%">
                            <col width="25%">
                            <col width="25%">
                              <tr>
                                <th class="centeralign">Creation Date</th>
                                <th class="centeralign">Event Date</th>
                                <th class="centeralign">Product Name</th>
                                <th class="centeralign">Hyku Page</th>
                              </tr>
                              <tr class="darkergray">
                                <td>"CreatedDate"</td>
                                <td>"EventDate"</td>
                                <td>"ProductName"</td>
                                <td class="darkergray centeralign"><a href="">View</a></td>
                              </tr>
                              <tr class="darkergray">
                                <td>"CreatedDate"</td>
                                <td>"EventDate"</td>
                                <td>"ProductName"</td>
                                <td class="darkergray centeralign"><a href="">View</a></td>
                              </tr>
                              <tr class="darkergray">
                                <td>"CreatedDate"</td>
                                <td>"EventDate"</td>
                                <td>"ProductName"</td>
                                <td class="darkergray centeralign"><a href="">View</a></td>
                              </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <br />
          <br />
            <div class="container">
              <div class="panel panel-default dashboardPanel">
                <div class="panel-body">
                  <div class="container">
                    <div class="row">
                      <div class="col-xs-12">
                        <h4 class="blue">
                          Activated Hykus
                        </h4>
                        <br />
                        <div class="scrollit">
                          <table class="table table-bordered table-striped table-hover table-responsive centeralign">
                            <col width="16.6%">
                            <col width="16.6%">
                            <col width="16.6%">
                            <col width="16.6%">
                            <col width="16.6%">
                            <col width="16.6%">
                              <tr>
                                <th class="centeralign">Event Date</th>
                                <th class="centeralign">Product Name</th>
                                <th class="centeralign">Time Left</th>
                                <th class="centeralign">Number of Joiners</th>
                                <th class="centeralign">Organizer Email</th>
                                <th class="centeralign">Hyku Page</th>
                              </tr>
                              <tr class="darkergray">
                                <td>"EventDate"</td>
                                <td>"ProductName"</td>
                                <td>"TimeLeft"</td>
                                <td>"NumberOfJoiners"</td>
                                <td>"OrganizerEmail"</td>
                                <td class="darkergray centeralign"><a href="">View</a></td>
                              </tr>
                              <tr class="darkergray">
                                <td>"EventDate"</td>
                                <td>"ProductName"</td>
                                <td>"TimeLeft"</td>
                                <td>"NumberOfJoiners"</td>
                                <td>"OrganizerEmail"</td>
                                <td class="darkergray centeralign"><a href="">View</a></td>
                              </tr>
                              <tr class="darkergray">
                                <td>"EventDate"</td>
                                <td>"ProductName"</td>
                                <td>"TimeLeft"</td>
                                <td>"NumberOfJoiners"</td>
                                <td>"OrganizerEmail"</td>
                                <td class="darkergray centeralign"><a href="">View</a></td>
                              </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div id="editPill" class="tab-pane fade">
          <br />
          <br />
          <form>
            <h3 class="blue">
              Update Contact Information
            </h3>
            <hr class="blueline">
            <div class="form-group">
              <label for="partnerName"><h4 class="darkergray">Business Name</h4></label>
              <input type="text" class="form-control" id="partnerName" aria-describedby="partnerName" placeholder="Official Business Name">
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="ownerFirstName"><h4 class="darkergray">Owner Name</h4></label>
                  <input type="text" class="form-control" id="ownerFirstName" aria-describedby="ownerFirstName" placeholder="First Name">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="ownerLastName"><h4 class="whiteC">.</h4></label>
                  <input type="text" class="form-control" id="ownerLastName" aria-describedby="ownerLastName" placeholder="Last Name">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="ownerPhoneNumber"><h4 class="darkergray">Contact</h4></label>
                  <input type="text" class="form-control" id="ownerPhoneNumber" aria-describedby="ownerPhoneNumber" placeholder="Phone Number">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="ownerEmail"><h4 class="whiteC">.</h4></label>
                  <input type="email" class="form-control" id="ownerEmail" aria-describedby="ownerEmail" placeholder="E-mail">
                </div>
              </div>
            </div>
            <h4 class="darkergray">Address</h4>
              <div class="form-group">
                <input type="text" class="form-control" id="partnerStreetAddress" aria-describedby="partnerStreetAddress" placeholder="Street Address">
                <input type="text" class="form-control" id="partnerStreetAddress2" aria-describedby="partnerStreetAddress2" placeholder="Street Address 2">
                <input type="text" class="form-control" id="partnerCity" aria-describedby="partnerCity" placeholder="City">
                <div class="row">
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="partnerState" aria-describedby="partnerState" placeholder="State">
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="partnerZip" aria-describedby="partnerZip" placeholder="Zip Code">
                  </div>
                </div>
              </div>
            <h4 class="darkergray">Logo Image</h4>
            <div class="form-group">
              <input type="file" class="form-control-file" id="partnerLogo" aria-describedby="partnerLogo">
              <small id="fileHelp" class="form-text text-muted"></small>
            </div>
            <br />
            <button type="submit" class="btn btn-success btn-large">Submit</button>
          </form>
          <br />
          <br />
        </div>
        <div id="bankPill" class="tab-pane fade">
          <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
              <br />
              <br />
              <br />
              <div class="panel panel-default">
                <div class="panel-body centeralign connectedPadding">
                  <h5 class="big">
                    <span class="green">CONNECTED</span> or <span class="red">NOT CONNECTED</span>
                  </h5>
                  <br />
                    <button type="button" class="btn btn-info">Connect with Stripe</button>
                  <br />
                  <br />
                </div>
              </div>
            </div>
            <div class="col-sm-4">
            </div>
          </div>
          <br />
          <br />
          <br />
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'footer' %>


  <div class="modal fade" id="expirationDateModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Hyku Expiration Date</h4>
        </div>
        <div class="modal-body">
          <p>Any hyku groups created from this offer will all expire on this date. At this date, we will process customers' credit cards and send the ticket confirmations. <br /><br /> We recommend setting the expiry date a day before the event date. But if you need the group to confirm their numbers earlier, set the expiration date accordingly.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

  <div class="modal fade" id="coverPhotoModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Cover Photo</h4>
        </div>
        <div class="modal-body">
          <p>Provide a high resolution JPEG or PNG that is at least 400 pixels wide and 150 pixels tall. This will appear as the cover photo for both the offer and active hykus. Be sure it depicts the product or event you'd like your customers to purchase.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

  <div class="modal fade" id="groupPriceModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Group Price</h4>
        </div>
        <div class="modal-body">
          <p>We use the values in "Group Size" and "Discounted Price per Person" to dynamically calculate the per person price depending on the size of the group. <br /><br />Example: If the offer price for one person is $100 and you are willing to give a max discount of $50 per person if 11 people join the group, then put "11" for "Group Size" and "50" for "Discounted Price per Person". <br /><br />We will automatically calculate a per person discount. In this case, it's $5 off for each additional joiner.<br /><br />If only 1 person joins, we'll charge $100. <br />If 2 people join the group, we will charge each $95 per person. <br />If 3 join, we'll charge each $90 per person. <br /> ... <br />If 10 people join, we'll charge each $55 per person. <br /> If 11 join, we'll charge each $50 per person. <br /> <br />If more than 11 join, each person in the group will continue to receive the max discount of $50 per person.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

  <div class="modal fade" id="perksModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Perks</h4>
        </div>
        <div class="modal-body">
          <p>Optional: If a certain number of people join the group, reward them with something. If you choose not to participate in perks, leave this section blank.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

  <div class="modal fade" id="individualPriceModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Retail and Offer Price</h4>
        </div>
        <div class="modal-body">
          <p>
          Retail Price: The price without any discounts. <br />
          Offer Price: The starting price per person for this hyku offer. <br /><br />
          Note: Offer Price must be less than or equal to Retail Price.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

  <div class="modal fade" id="restrictionsModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Restrictions</h4>
        </div>
        <div class="modal-body">
          <p>Max Group Size: This is the most that can join any one hyku group. Once this cap is reached, we will process their credit cards and email their ticket confirmations.
          <br /><br />
          Fine Print: Include any special instructions in this section. (e.g. refunds, exchanges, weather contingencies, etc.)</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

</body>

</html>

