<html>
  <head>
  <link rel="stylesheet" href="/stylesheets/press.css">
    <script src="js/wow.mis.js"></script>
    <script>
      new WOW().init();
    </script>
  </head>

<body>


<div class="container-fluid" id="pressCover">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10 vcenter">
    </div>
  </div>
</div>


<div class="jumbotron white">
  <div class="container white">

    <div class="row">
      <div id="headings" class="col-sm-offset-2 col-sm-8">
        <br />
          <h2>
            Media Resources
          </h2>
        <br />

          <hr class="greenline">
          </hr>
          <h4 class = "darkgray">
            Founder Headshots
          </h4>
          <br />
          <br />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 centeralign">
        <a href="/images/shawn.zip">
                <img src="/images/shawn.png" id="teamImage" class="img-responsive" alt="Active" onmouseover="this.src='/images/shawnDL.png'" onmouseout="this.src='/images/shawn.png'">
        </a>

        <h4 class = "darkgray">
          Shawn
        </h4>
        <a href="https://www.linkedin.com/in/shawnethomas">
          <i class="fa fa-linkedin-square"></i>
        </a>
        <br />
        <br />

      </div>
      <div class="col-sm-4 centeralign">
        <a href="/images/shawn.zip">
                <img src="/images/michael.png" id="teamImage" class="img-responsive" alt="Active" onmouseover="this.src='/images/michaelDL.png'" onmouseout="this.src='/images/michael.png'">
        </a>

        <h4 class = "darkgray">
          Michael
        </h4>
        <a href="https://www.linkedin.com/in/shawnethomas">
          <i class="fa fa-linkedin-square"></i>
        </a>
        <br />
        <br />
      </div>
      <div class="col-sm-4 centeralign">

        <img src="/images/coming.png" id="teamImage" class="img-responsive" alt="Active">

        <h4 class = "darkgray">
          Group
        </h4>
        <br />
        <br />

      </div>
    </div>
    <div class="row">
      <div id="headings" class="col-sm-offset-2 col-sm-8">
        <br />
          <h2>
          </h2>
        <br />

          <hr class="greenline">
          </hr>
          <h4 class = "darkgray">
            Marketing
          </h4>
          <br />
          <br />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 centeralign">
        <img src="/images/coming.png" id="teamImage" class="img-responsive" alt="Active">

        <h4 class = "darkgray">
          Customers
        </h4>
        <br />
        <br />
      </div>
      <div class="col-sm-4 centeralign">
        <a href="/images/logos.zip">
                <img src="/images/logo.png" id="teamImage" class="img-responsive" alt="Active" onmouseover="this.src='/images/logoDL.png'" onmouseout="this.src='/images/logo.png'">
        </a>

        <h4 class = "darkgray">
          Logos
        </h4>
        <br />
        <br />
      </div>
      <div class="col-sm-4 centeralign">
        <img src="/images/coming.png" id="teamImage" class="img-responsive" alt="Active">

        <h4 class = "darkgray">
          Product
        </h4>
        <br />
        <br />
      </div>
    </div>


<!--
    <div class="row">
      <div id="headings" class="col-sm-offset-2 col-sm-8">
        <br />
          <h2>
          </h2>
        <br />

          <hr class="greenline">
          </hr>
          <h4 class = "darkgray">
            Founder Fast Facts
          </h4>
          <br />
          <br />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 centeralign">
        <h3 class="blue">
          Shawn
        </h3>
        <h5 class="big leftalign darkgray">
          <ul>
            <li>Graduate of University of Chicago Booth School of Business, London School of Economics, and University of Illinois, Urbana-Champaign</li>
            <li></li>
            <li></li>
          </ul>
        </h5>

      </div>
      <div class="col-sm-6 centeralign">
        <h3 class="blue">
          Michael
        </h3>
        <h5 class="big leftalign darkgray">
          <ul>
            <li>Graduate of University of Chicago Booth School of Business, London School of Economics, and University of Illinois, Urbana-Champaign</li>
            <li></li>
            <li></li>
          </ul>
        </h5>

      </div>
    </div>

    <div class="row">
      <div id="headings" class="col-sm-offset-2 col-sm-8">
        <br />
          <h2>
          </h2>
        <br />

          <hr class="greenline">
          </hr>
          <h4 class = "darkgray">
            Hyku Fast Facts
          </h4>
          <br />
          <br />
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 centeralign">
      </div>
      <div class="col-sm-4 centeralign">
      </div>
      <div class="col-sm-4 centeralign">
      </div>
    </div>
-->





  </div>
</div>



<%= render 'footer' %>



</body>
