<html>
  <head>
  <link rel="stylesheet" href="/stylesheets/partnerDashboard.css">
    <script src="js/wow.mis.js"></script>
    <script>
      new WOW().init();
    </script>
  </head>

<body>

<div class="container-fluid" id="pressCover">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10 vcenter">
    </div>
  </div>
</div>


<div class="nav-side-menu">

  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content">
  </i>

  <div class="menu-list">

    <ul id="menu-content" class="menu-content collapse out">

      <li data-toggle="collapse" data-target="#updateCC" class="collapsed">
        <a href="#"><i class="fa fa-file-text-o fa-lg"></i> My Offers</a>
      </li>

      <li data-toggle="collapse" data-target="#userAccount" class="collapsed">
        <a href="#"><i class="fa fa-user fa-lg"></i> My Account</a>
      </li>

      <li data-toggle="collapse" data-target="#updateCC" class="collapsed">
        <a href="#"><i class="fa fa-credit-card fa-lg"></i> Update Credit Card</a>
      </li>

      <li data-toggle="collapse" data-target="#email" class="collapsed">
        <a href="#"><i class="fa fa-envelope-o fa-lg"></i> Subscriptions </a>
      </li>

    </ul>
  </div>
</div>

<div class="jumbotron white dashboard-main-menu">
  <div class="container">
    <div class="panel panel-default userAccount">
      <div class="panel-body">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h5 class="blue">
                Joined Hykus
              </h5>
              <div class="scrollAccount">
                <table class="table table-bordered table-striped table-hover table-responsive centeralign">
                  <col width="12.5%">
                  <col width="12.5%">
                  <col width="12.5%">
                  <col width="12.5%">
                  <col width="12.5%">
                  <col width="12.5%">
                  <col width="12.5%">
                  <col width="12.5%">
                    <tr>
                      <th class="centeralign">Event Date</th>
                      <th class="centeralign">Product Name</th>
                      <th class="centeralign">Business Name</th>
                      <th class="centeralign"># of Joiners</th>
                      <th class="centeralign">Status</th>
                      <th class="centeralign">Price</th>
                      <th class="centeralign">Organizer</th>
                      <th class="centeralign">Hyku Page</th>
                    </tr>
                    <tr class="darkergray">
                      <td>"EventDate"</td>
                      <td>"ProductName"</td>
                      <td>"BusinessName"</td>
                      <td>"NumberOfJoiners"</td>
                      <td>"HykuStatus"</td>
                      <td>"CurrentPrice"</td>
                      <td>"OrganizerBoolean"</td>
                      <td class="darkergray centeralign"><a href="">View</a></td>
                    </tr>
                    <tr class="darkergray">
                      <td>"EventDate"</td>
                      <td>"ProductName"</td>
                      <td>"BusinessName"</td>
                      <td>"NumberOfJoiners"</td>
                      <td>"HykuStatus"</td>
                      <td>"CurrentPrice"</td>
                      <td>"OrganizerBoolean"</td>
                      <td class="darkergray centeralign"><a href="">View</a></td>
                    </tr>
                    <tr class="darkergray">
                      <td>"EventDate"</td>
                      <td>"ProductName"</td>
                      <td>"BusinessName"</td>
                      <td>"NumberOfJoiners"</td>
                      <td>"HykuStatus"</td>
                      <td>"CurrentPrice"</td>
                      <td>"OrganizerBoolean"</td>
                      <td class="darkergray centeralign"><a href="">View</a></td>
                    </tr>
                    <tr class="darkergray">
                      <td>"EventDate"</td>
                      <td>"ProductName"</td>
                      <td>"BusinessName"</td>
                      <td>"NumberOfJoiners"</td>
                      <td>"HykuStatus"</td>
                      <td>"CurrentPrice"</td>
                      <td>"OrganizerBoolean"</td>
                      <td class="darkergray centeralign"><a href="">View</a></td>
                    </tr>
                    <tr class="darkergray">
                      <td>"EventDate"</td>
                      <td>"ProductName"</td>
                      <td>"BusinessName"</td>
                      <td>"NumberOfJoiners"</td>
                      <td>"HykuStatus"</td>
                      <td>"CurrentPrice"</td>
                      <td>"OrganizerBoolean"</td>
                      <td class="darkergray centeralign"><a href="">View</a></td>
                    </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



</body>
</html>
